<ul class="lot__admin-link-wrapper">
  <li class="lot__admin-link">
    <a href="#">
      <img class="lot__admin-link-icon" alt="" src="/assets/img/icons/icon-duplicate.svg">
      Дублировать</a>
  </li>
  <li class="lot__admin-link">
    <a href="#">
      <img class="lot__admin-link-icon" alt="" src="/assets/img/icons/icon-hide.svg">
      Скрыть</a>
  </li>
  <li class="lot__admin-link">
    <a href="#">
      <img class="lot__admin-link-icon" alt="" src="/assets/img/icons/icon-eye.svg">
      Показать</a>
  </li>
   <li class="lot__admin-link">
    <a href="#">
      <img class="lot__admin-link-icon" alt="" src="/assets/img/icons/icon-pencil.svg">
      Редактировать</a>
  </li>
  <li class="lot__admin-link">
    <a href="#">
      <img class="lot__admin-link-icon" alt="" src="/assets/img/icons/icon-tools.svg">
      Редактировать в админке</a>
  </li>
</ul>
