<div class="lot-bet--notify --warning">
  <span class="lot-bet--notify-descr">
    Забронировать эту вещь может только победитель аукциона.<br>
    Пожалуйста,
    <a class="lot-bet--notify-link" href="#">войдите</a>
    или
    <a class="lot-bet--notify-link" href="#">зарегистрируйтесь</a>.
  </span>
</div>

<div class="lot-bet--notify --error">
  <span class="lot-bet--notify-descr">
    Принять участие в аукционе может только зарегистрированный пользователь. Пожалуйста,
    <a class="lot-bet--notify-link" href="#">войдите</a>
    или
    <a class="lot-bet--notify-link" href="#">зарегистрируйтесь</a>.
  </span>
</div>
