.lot {
  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 880px;
    margin-top: 25px;
    margin-right: $gap;
  }

  &__charity-wrapper {
    width: 280px;
    margin-top: 25px;
    margin-left: $gap;
  }

  &__img {
    &-wrapper {
      width: 100%;
      max-width: 380px;
      margin-right: 10px;
      overflow: hidden;
    }

    &-main {
      width: 100%;
      height: 100%;
      object-fit: contain;

      &-wrapper {
        display: block;
      }
    }

    &-additional {
      @extend .lot__img-main;

      &-outer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
      }

      &-wrapper {
        @extend .lot__img-main-wrapper;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__info {
    &-wrapper {
      width: 100%;
      margin-left: 10px;
      padding: 0 25px;
    }

    &-location {
      font-size: rem(13);
      font-weight: 500;
      line-height: 1.31;
      color: #4b5769;
      margin-bottom: 0;

      .separator {
        &::before {
          content: '\2022';
          color: #c0d1dd;
        }
      }

    }
  }

  &__bet {
    font-size: rem(32);
    font-weight: bold;
    line-height: 0.91;
    color: #4489ff;
    margin-right: 20px;
    margin-bottom: 0;

    &-descr {
      font-size: rem(13);
      font-weight: 500;
      line-height: 1.31;
      letter-spacing: normal;
      color: #4b5769;
      margin-bottom: 8px;
    }

    &-wrapper {
      margin-top: 25px;
    }

    &-price {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
    }

    &-details {
      margin-bottom: 15px;
    }

    &-count {
      flex: 0 1 50%;
      font-size: rem(15);
      font-weight: 500;
      letter-spacing: normal;
      color: #4b5769;

      &-wrapper {
        display: flex;
      }

      &-descr {
        @extend .lot__bet-count;
      }
    }

    &-blitz {
      @extend .lot__bet-count;

      &-wrapper {
        @extend .lot__bet-count-wrapper;
      }

      &-descr {
        @extend .lot__bet-count;
      }
    }

    &-start {
      @extend .lot__bet-count;

      &-wrapper {
        @extend .lot__bet-count-wrapper;
      }

      &-descr {
        @extend .lot__bet-count;
      }
    }

    &-timer {
      @extend .lot__bet-count;

      &-wrapper {
        @extend .lot__bet-count-wrapper;
      }

      &-descr {
        @extend .lot__bet-count;
      }
    }

    &--place {
      width: 100%;
      padding: 30px 20px 20px 30px;
      border-radius: 8px;
      background-color: #f4f7fb;
    }
  }

  &__safe {
    &-deal {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}