<div style="height: 200px;"></div>
<div class="container">
  <!--  -->
  <div class="filter__wrapper">
    <div class="filter__item">
      <div class="filter__item-head">
        <span class="filter__name">Charity</span>
        <svg class="filter__chevron" width="14px" height="9px" viewBox="0 0 14 9" version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g class="filter__chevron-fill" transform="translate(-260.000000, -21.000000)" fill-rule="nonzero">
              <polygon id="dropdown-arrow"
                points="272.646447 21 274.06066 22.4142136 267.353553 29.1213203 260.646447 22.4142136 262.06066 21 267.353553 26.2928932">
              </polygon>
            </g>
          </g>
        </svg>
      </div>
      <div class="filter__item-dropdown">
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis numquam molestias distinctio praesentium tempore nam. Eveniet pariatur error velit incidunt adipisci impedit numquam ipsam, deleniti ducimus similique commodi omnis ad?
      </div>
    </div>
  </div>
  <!--  -->
</div>