.filter {
  &__wrapper {
    width: 250px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  &__item {
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid #fafafa;

    &:hover {
      cursor: pointer;
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(.collapsed) {
        .filter__chevron {
          transform: rotate(180deg);
        }
      }
    }

    &-dropdown {
      width: 100%;
      padding-right: 15px;
    }
  }

  &__name {
    font-size: rem(15);
    font-weight: 500;
    color: #000;
  }

  &__chevron {
    transition: transform .2s ease;

    &-fill {
      fill: #cdcdcd;
    }
  }

  &__input {

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-select {
      @extend .form__popup-selectSimple;
      border-bottom-width: 1px;
      font-size: rem(12);

      &:required {
        &:invalid {
          color: rgba($color: #000000, $alpha: 0.3);
        }
      }

      option {
        color: #000
      }

      &-chevron {
        width: 9px;
        height: 6px;
        object-fit: contain;
        position: absolute;
        top: 45%;
        right: 5px;
      }
    }
  }
}