.filter {
  &__wrapper {
    width: 250px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  &__item {
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid #fafafa;

    &:hover {
      cursor: pointer;
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-dropdown {
      width: 100%;
      display: none;

      &.is-opened {
        display: block;
      }
    }
  }

  &__name {
    font-size: rem(15);
    font-weight: 500;
    color: #000;
  }

  &__chevron {
    transition: transform .2s ease;

    &-fill {
      fill: #cdcdcd;
    }

    &.is-rotated {
      transform: rotate(180deg);
    }
  }
}