.filter {
  &__wrapper {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  &__item {
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid #fafafa;

    &:hover {
      cursor: pointer;
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(.collapsed) {
        .filter__chevron {
          transform: rotate(180deg);
        }
      }

      &:hover {
        text-decoration: none;
      }
    }

    &-dropdown {
      width: 100%;
      padding-right: 15px;
    }
  }

  &__name {
    font-size: rem(15);
    font-weight: 500;
    color: #000;
  }

  &__chevron {
    transition: transform .2s ease;

    &-fill {
      fill: #cdcdcd;
    }
  }

  &__input {

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-select {
      @extend .form__popup-selectSimple;
      border-bottom-width: 1px;
      font-size: rem(12);
      position: relative;
      margin-bottom: 15px;

      &:nth-last-of-type(1) {
        margin-bottom: 5px;
      }

      &:required {
        &:invalid {
          color: rgba($color: #000000, $alpha: 0.3);
        }
      }

      &-wrapper {
        @extend .filter__input-wrapper;
      }

      option {
        color: #000
      }

      &-chevron {
        width: 9px;
        height: 6px;
        object-fit: contain;
        position: absolute;
        top: 10px;
        right: 5px;
      }
    }

    &-radio {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &-wrapper {
        display: flex;
        align-items: center;
        margin-right: -25px;
      }

      &-label {
        margin-top: 10px;
        margin-right: 25px;
        margin-bottom: 5px;
        padding-top: 2px;
        padding-left: 20px;
        display: block;
        position: relative;
        user-select: none;
        cursor: pointer;
        font-size: rem(13);
        font-weight: 500;
        line-height: normal;
        color: #000;
        text-transform: capitalize;

        &:hover {
          .filter__input-radio {
            ~.filter__input-radio-checkmark {
              border-color: #00b54b;
            }
          }
        }

        .filter__input-radio {
          &:checked {
            ~.filter__input-radio-checkmark {
              border-color: #00b54b;
              border-width: 5px;
            }
          }
        }
      }

      &-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 50%;
        border: solid 2px #e8e8e8;
      }
    }

    &-checkbox {
      position: absolute;
      top: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &-wrapper {
        height: 100%;
        max-height: 260px;
        margin: 15px -20px 5px 0;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba($color: #000000, $alpha: .1);
          border-radius: 5px;

        }
      }

      &-label {
        margin-bottom: 4px;
        position: relative;
        font-size: rem(13);
        font-weight: 500;
        line-height: normal;
        color: rgba($color: #000, $alpha: .6);
        user-select: none;
        cursor: pointer;

        &-solo {
          @extend .filter__input-checkbox-label;
          padding-top: 2px;
          width: 100%;
          padding-left: 25px;

          &:hover {
            .filter__input-checkbox {
              ~.filter__input-checkbox-checkmark {
                border-color: #4489ff;
              }
            }
          }

          .filter__input-checkbox {
            &:checked {
              ~.filter__input-checkbox-checkmark {
                border-color: #4489ff;
                background-color: #4489ff;

                &::after {
                  position: absolute;
                  content: "";
                  left: 4px;
                  top: 2px;
                  width: 4px;
                  height: 8px;
                  border: solid #fff;
                  border-width: 0 2px 2px 0;
                  transform: rotate(45deg);
                }
              }
            }
          }
        }

        &-color {
          @extend .filter__input-checkbox-label;
          position: relative;
          width: 25px;
          height: 25px;
          margin-bottom: 0;

          .filter__input-checkbox {
            &:checked {
              ~.filter__input-checkbox-checkmark-color {
                &::after {
                  position: absolute;
                  content: "";
                  left: 8px;
                  top: 4px;
                  width: 8px;
                  height: 14px;
                  border: solid #fff;
                  border-width: 0 3px 3px 0;
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }

      &-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background: #fff;
        border: solid 2px #e8e8e8;
        border-radius: 3px;

        &-color {
          display: block;
          width: 25px;
          height: 25px;
          border-radius: 4px;
          border: solid 1px #dfdfdf;
        }
      }
    }

    &-number {
      @extend .filter__input-select;
      width: 100px;
      margin-bottom: 5px;
      font-size: rem(12);
      font-weight: 500;
      line-height: 1.42;

      &::placeholder {
        color: rgba($color: #000, $alpha: .3);
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
      }

      &-wrapper {
        @extend .filter__input-radio-wrapper;
        justify-content: space-between;
      }

      &-separator {
        font-size: rem(13);
        font-weight: 500;
        line-height: normal;
        color: rgba($color: #000, $alpha: .3);
      }
    }
  }

  &__discard {
    font-size: rem(13);
    font-weight: 500;
    color: #4489ff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #4489ff;
    }
  }
}