<div class="popup-edit__background" id="bookmark-sucess">
  <div class="popup-edit__container">
    <div class="popup-edit__wrapper">
      <form class="popup-edit">
        <h3 class="popup-edit-header">Товар забронирован!</h3>
        <p class="popup-edit-ads">
          Вы забронировали товар, деньги списаны с вашей карты. Бронь действует в течение 10 дней, по истечение которых
          автоматически снимается. Как только получите товар, отметьте, что он получе, чтобы деньги ушли получателю на
          благое дело.
        </p>
        <p class="popup-edit-ads">
          Если вы передумали забирать товар, продавец не выходит на связь, или продавец отметил, что товар передан, а
          это неправда - отмените бронь, чтобы вернуть свои деньги.
        </p>
        <div class="popup-edit__controls">
          <button style="margin-left: auto; margin-right: auto"
            class="popup-edit-submit popup-bookmark-close">Понятно</button>
        </div>
      </form>
    </div>
  </div>
</div>