<div class="popup-edit__background popup--target is-active" id="cancel-order">
  <div class="popup-edit__container">
    <div class="popup-edit__wrapper">
      <form class="popup-edit">
        <h3 class="popup-edit-header text-center">Вы хотите отменить заказ?</h3>
        <div class="popup-edit__controls">
          <a href="#cancel-order" data-modal="cancel-order" class="popup-edit-reset btn--close-popup --mw200">Нет, вернуться</a>
          <button class="popup-edit-submit --mw200" type="submit">Да, отменить</button>
        </div>
      </form>
    </div>
  </div>
</div>