<div class="popup__fullscreen" id="success">
  <div class="popup__fullscreen-wrapper">
    <button class="popup__close btn--close-popup" data-modal="sucess">
      <img src="/assets/img/icons/icon-close-blue.svg" alt="">
    </button>
    <div class="popup__row-success">
      <div class="header__wrapper-popup">
        <h2 class="header__h2 header__success ">Отлично</h2>
      </div>
      <p class="popup__success-descr">Осталось подтвердить  email. <br>
        Мы отправили вам письмо подтверждение на vasya@mail.ru</p>

        <button class="btn-ok btn--close-popup">Окей</button>
    </div>
  </div>
</div>