<div class="popup-edit__background" id="order-sucess">
  <div class="popup-edit__container">
    <div class="popup-edit__wrapper">
      <form class="popup-edit">
        <h3 class="popup-edit-header">Заказ размещен!</h3>
        <p class="popup-edit-ads">
          Ваш заказ был успешно размещен и теперь вы можете просматривать подробности, управлять заказом и отслеживать его доставку на странице История заказов.
        </p>
        <p class="popup-edit-ads">
          Часть суммы пошла на поддержку благотворительных фондов, спасибо за вашу помощь!
        </p>
        <div class="popup-edit__controls">
          <button style="margin-left: auto; margin-right: auto" class="popup-edit-reset popup-edit-submit">Понятно</button>
        </div>
      </form>
    </div>
  </div>
</div>