.popup {
  &__fullscreen {
    padding: 90px 0 105px 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s ease;
    transform: translate3d(-100%,0,0);
    z-index: 9000;

    &.is-active {
      transform: translate3d(0,0,0);
    }

    &-wrapper{
      width: 100%;
      max-width: 782px;
      position: relative;
      margin: 0 auto;
    }

  }

  &__close {
    position: absolute;
    top: 0;
    right: -30%;
    border: none;
    background: transparent;
  }
}