<div class="popup-edit__background" id="remove-ads">
  <div class="popup-edit__container">
    <div class="popup-edit__wrapper">
      <form class="popup-edit">
        <h3 class="popup-edit-header">Удаление товара</h3>
        <p class="popup-edit-ads">
          Вы хотите удалить товар «Афиша фильма «День выборов 2» с автографами». Удаление товара означает, что он пропадет из вашего профиля и из каталога товаров, доступных для покупки. Так же будет удалена вся информация об этом товаре.
        </p>
        <p class="popup-edit-ads">
          Вы хотите продолжить?
        </p>
        <div class="popup-edit__controls">
          <button class="popup-edit-reset">Отменить</button>
          <input class="popup-edit-submit" type="submit" value="Удалить">
        </div>
      </form>
    </div>
  </div>
</div>