<div class="lot__details--tabs">
    <div class="lot__details--tabs-item-wrapper">
      <a href="#descr" class="lot__details--tabs-item tab__switcher is-active">
        Описание
      </a>
    </div>
    <div class="lot__details--tabs-item-content tab__content" id="descr">
      <p class="lot__details--tabs-item-descr">{{ lot.descr }}</p>
    </div>
  </div>