<div class="foundation-choose__tabs">
  <a class="menu-bar__item tab__switcher is-active" href="#foundation-programs">Благотворительные программы</a>
  <a class="menu-bar__item tab__switcher" href="#people">Люди</a>
</div>
<div class="foundation-choose__tabs-wrapper">
  <div class="foundation-choose__tabs-item tab__content is-active" id="foundation-programs">
    <label class="popup-foundation-choose__label" for="foundation-program">
      <input checked class="popup-foundation-choose__checkbox" id="foundation-program" name="foundation-program" type="radio">
      <div class="card-foundation--program">
        <img alt="" class="card-foundation--program__img" src="/assets/img/funds/programs/1.jpg">
        <p class="card-foundation--program-name">«Окно в мир» – социальная адаптация детей</p>
      </div>
    </label>
    <label class="popup-foundation-choose__label" for="foundation-program2">
      <input class="popup-foundation-choose__checkbox" id="foundation-program2" name="foundation-program" type="radio">
      <div class="card-foundation--program">
        <img alt="" class="card-foundation--program__img" src="/assets/img/funds/programs/1.jpg">
        <p class="card-foundation--program-name">«Окно в мир» – социальная адаптация детей</p>
      </div>
    </label>
    <label class="popup-foundation-choose__label" for="foundation-program3">
      <input class="popup-foundation-choose__checkbox" id="foundation-program3" name="foundation-program" type="radio">
      <div class="card-foundation--program">
        <img alt="" class="card-foundation--program__img" src="/assets/img/funds/programs/1.jpg">
        <p class="card-foundation--program-name">«Окно в мир» – социальная адаптация детей</p>
      </div>
    </label>
    <label class="popup-foundation-choose__label" for="foundation-program4">
      <input class="popup-foundation-choose__checkbox" id="foundation-program4" name="foundation-program" type="radio">
      <div class="card-foundation--program">
        <img alt="" class="card-foundation--program__img" src="/assets/img/funds/programs/1.jpg">
        <p class="card-foundation--program-name">«Окно в мир» – социальная адаптация детей</p>
      </div>
    </label>
  </div>
  <div class="foundation-choose__tabs-item tab__content" id="people">
    Nothing to show
  </div>
</div>
