<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <!-- <base href="/"> -->
  <title>{{ page_title }}</title>
  <meta name="description" content="">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Template Basic Images Start -->
  <meta property="og:image" content="path/to/image.jpg">
  <link rel="icon" href="#">
  <link rel="apple-touch-icon" sizes="180x180" href="#">
  <!-- Template Basic Images End -->

  <!-- Custom Browsers Color Start -->
  <meta name="theme-color" content="#4489ff">
  <!-- Custom Browsers Color End -->
</head>

<body>
  {% block header %}
    {% include "../components/header/header.twig" %}
  {% endblock %}
  {% block body %}
    {% block accountBanner %}
      {% include "../components/banner/banner.twig" %}
    {% endblock %}
    {% block accountInfo %}
      {% include "../components/screen/screen__accountInfo.twig" %}
    {% endblock %}
  {% endblock %}
  {% block error %}
      {% include "../components/bookmark/bookmark-error.twig" %}
  {% endblock %}  
  {% block footerMain %}
    {% block blockchain %}{% endblock %}
    {% block footer %}
      {% include "../components/footer/footer.twig" %}
    {% endblock %}
    {% block mobileMenu %}
      {% include "../components/mobile-menu/mobile-menu.twig" %}
    {% endblock %}
    {% block popup %}
      {% include "../components/popup/popup.twig" %}
      {% include "../components/popup/popup-sucess.twig" %}
    {% endblock %}
    {% block video %}{% endblock %}
  {% endblock %}
</body>

</html>