{% extends "../layout/landing.twig" %}
{% set page_title = "landing celebrities more" %}
{% set headerType = "--transparent --toggle" %}
{% set userStatus = "--unauthorised" %}
{% set dropdownCatalogue = [
  {
    category: 'Childen&apos;s goods',
    link: 'children',
    content: [
      {
        category: 'first',
        link: 'first'
      },
      {
        category: 'second',
        link: 'second'
      },
      {
        category: 'first',
        link: 'first'
      },
      {
        category: 'second',
        link: 'second'
      },
      {
        category: 'first',
        link: 'first'
      },
      {
        category: 'second',
        link: 'second'
      },
      {
        category: 'first',
        link: 'first'
      },
      {
        category: 'second',
        link: 'second'
      },
      {
        category: 'first',
        link: 'first'
      },
      {
        category: 'second',
        link: 'second'
      },
      {
        category: 'first',
        link: 'first'
      },
      {
        category: 'second',
        link: 'second'
      },
      {
        category: 'first',
        link: 'first'
      },
      {
        category: 'second',
        link: 'second'
      },
      {
        category: 'first',
        link: 'first'
      },
      {
        category: 'second',
        link: 'second'
      },
      {
        category: 'first',
        link: 'first'
      },
      {
        category: 'second',
        link: 'second'
      },
      {
        category: 'first',
        link: 'first'
      },
      {
        category: 'second',
        link: 'second'
      },
    ]
  },
  {
    category: 'Clothes and footwear',
    link: 'clothes',
    content: [
      {
        category: 'boots',
        link: 'boots'
      },
      {
        category: 'coat',
        link: 'coat'
      },
      {
        category: 'sweaters',
        link: 'sweaters'
      },
      {
        category: 'sweethshot',
        link: 'sweethshot'
      },
      {
        category: 't-shirt',
        link: 't-shirt'
      },
      {
        category: 'slip-on',
        link: 'slip-on'
      },
      {
        category: 'blablabla',
        link: 'blablabla'
      },
    ]
  },
  {
    category: 'Electronics',
    link: 'electronics',
    content: [
      {
        category: 'first',
        link: 'first'
      }
    ]
  },
  {
    category: 'Appliances',
    link: 'appliancess',
    content: [
      {
        category: 'first',
        link: 'first'
      }
    ]
  },
  {
    category: 'Pet supplies',
    link: 'pet',
    content: [
      {
        category: 'first',
        link: 'first'
      }
    ]
  },
  {
    category: 'House and Cottage',
    link: 'house',
    content: [
      {
        category: 'first',
        link: 'first'
      }
    ]
  },
  {
    category: 'Beauty and health',
    link: 'beauty',
    content: [
      {
        category: 'beuaty',
        link: 'beauty'
      },
      {
        category: 'health',
        link: 'health'
      }
    ]
  },
  {
    category: 'Auto',
    link: 'Auto',
    content: [
      {
        category: 'auto',
        link: 'auto'
      },
      {
        category: 'motors',
        link: 'motors'
      },
      {
        category: 'sound',
        link: 'sound'
      },
    ]
  },
  {
    category: 'Art',
    link: 'art',
    content: [
      {
        category: 'art',
        link: 'art'
      },
      {
        category: 'motors',
        link: 'motors'
      },
      {
        category: 'sound',
        link: 'sound'
      },
    ]
  },
  {
    category: 'Garden',
    link: 'garden',
    content: [
      {
        category: 'art',
        link: 'art'
      },
      {
        category: 'motors',
        link: 'motors'
      },
      {
        category: 'sound',
        link: 'sound'
      },
    ]
  },
] %}
{% set mobileMenu = [
	{
	link: '#',
	description: 'Объявления'
	}, 
	{
		link: '#',
		description: 'Как это работает'
	},
	{
		link: '#',
		description: 'Фонды'
	},
	{
		link: '#',
		description: 'Новости'
	},
	{
		link: '#',
		description: 'Инвесторам'
	},
] %}
{% set backgorunds_slider = [
	'./assets/img/background/celebrities-image.jpg',
	'./assets/img/background/celebrities-image-2.jpg',
] %}
{% set landing_h1 = 'Звезды Один⁺¹' %}
{% set celebrities = [
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/celebrities-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/celebrities-image.jpg',
      celebrityName: 'Мария Шарапова',
      celebrityRole: 'Одна из учредителей благотворительного фонда «Подари жизнь».',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/celebrities-image.jpg',
      celebrityName: 'Аглая Тарасова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель. ',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/main-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/celebrities-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/celebrities-image.jpg',
      celebrityName: 'Мария Шарапова',
      celebrityRole: 'Одна из учредителей благотворительного фонда «Подари жизнь».',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/celebrities-image.jpg',
      celebrityName: 'Аглая Тарасова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель. ',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/main-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/main-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/main-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/main-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },{
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/main-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/main-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/main-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
    {
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/main-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },{
      celebrityLink: '#',
      celebrityAvatar: './assets/img/background/main-image-2.jpg',
      celebrityName: 'Чулпан Хаматова',
      celebrityRole: 'Российская актриса театра и кино, общественный деятель.',
      celebrityLotsLink: '#',
      celebrityLotsAmount: '2 лота',
      celebrityLotsTotal: '18'
    },
  ] 
%}
{% set pagination = {
	loadButton: false,
	paginationButtons: true,
	pages: [{}],
 } 
%}

<main>
  {% block header %}
    {% include "../components/header/header.twig" %}
  {% endblock %}
  {% block body %}
    {% block mainScreen %}
      {% embed "../components/screen/screen__landing.twig" %}
        {% block safety %}{% endblock %}
        {% block header %}
          <div class="header__wrapper landing__header-wrapper">
            <h1 class="header__h1 landing__header --celeb-more">{{ landing_h1 }}</h1>
          </div>
        {% endblock %}
        {% block video %}{% endblock %}
        {% block search %}{% endblock %}
      {% endembed %}
      {% include "../components/slider/slider-bg.twig" %}
    {% endblock %}
</main>
		{% block numeric %}{% endblock %}
		{% block celebritiesLots %}{% endblock %}
		{% block categories %}{% endblock %}
		{% block sliderReviews %}{% endblock %}
		{% block news %}{% endblock %}
    {% block celebrities1p1 %}
      {% embed "../components/cards/cards-celebrities.twig" %}
        {% block cardHeader %}{% endblock %}
        {% block button %}
          <a href="#" class="btn btn-celebrities-more --celeb-more">
            Загрузить больше
          </a>
        {% block pagination %}
          <div class="pagination__wrapper--standalone">
            {% include "../components/pagination/pagination.twig" %}
          </div>
        {% endblock %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
		{% block sliderPartners %}
			{% include "../components/slider/slider-partners.twig" %}
		{% endblock %}
	{% endblock %}
	{% block blockchain %}
		{% include "../components/blockchain/blockchain.twig" %}
	{% endblock %}
	{% block footerMain %}
		{% block footer %}
			{% include "../components/footer/footer.twig" %}
		{% endblock %}
		{% block mobileMenu %}
			{% include "../components/mobile-menu/mobile-menu.twig" %}
		{% endblock %}
		{% block popup %}
			{% include "../components/popup/popup.twig" %}
			{% include "../components/popup/popup-sucess.twig" %}
			{% include "../components/popup/sell-item-sucess.twig" %}
		{% endblock %}
		{% block video %}{% endblock %}
	{% endblock %}