.header {
  &__wrapper {
    text-align: center;
    @include make-col(12);
    padding-left: $gap;
    padding-right: $gap;

    &-popup {
      @extend .header__wrapper;
      text-align: left;
      margin-top: 55px;
    }

    &-celeb {
      @extend .header__wrapper;
      padding: 0;

      @include mq-down(sm) {
        padding: 0 20px;
      }
    }

    &-regular {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      text-align: left;
    }


  }

  &__h1 {
    font-size: rem(34);
    font-weight: 500;
    line-height: 1.24;

    @include mq-down(sm) {
      font-size: rem(30);
    }
  }

  &__h3 {
    font-size: rem(24);
    font-weight: 500;
    line-height: 2.71;
    margin-bottom: rem(16);

    @include mq-down(sm) {
      line-height: normal;
    }
  }

  &__popup {
    font-size: rem(36);
    font-weight: 700;
    margin-bottom: 0;

    @include mq-down(md) {
      font-size: rem(28);
      padding-left: 8px;
      line-height: 1.33;
    }

    &--foundation {
      &-submit {
        font-size: rem(18);
        font-weight: 500;
        line-height: 1.44;
        color: #4489ff;
        margin-top: 30px;
        margin-bottom: 0;

        @include mq-down(md) {
          padding-left: 8px;
          font-size: rem(14);
        }
      }
    }
  }

  &__success {
    @extend .header__popup;
    text-align: center;
    margin-bottom: 0;
  }

  &__lot {
    font-size: rem(37);
    font-weight: bold;
    line-height: normal;
    color: #000;
    margin-bottom: 5px;

    @include mq-down(md) {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: rem(23);
    }

    &-similar {
      font-size: rem(25);
      font-weight: bold;
      line-height: normal;
      color: #000;
      margin-bottom: 30px;

      @include mq-down(md) {
        font-size: rem(19);
        margin-bottom: 20px;
      }
    }
  }
}

.popup {
  &__success {
    &-descr {
      @include make-col(12);
      padding-left: $gap;
      padding-right: $gap;
      text-align: center;
      margin: 50px auto;
      font-size: rem(19);
      font-weight: 500;
      line-height: 1.58;
      color: #4b5769;

      @include mq-down(md) {
        padding-left: $gutter;
        padding-right: $gutter;
        margin: 25px auto 45px auto;
        font-size: rem(15);
      }
    }
  }


  &-edit {
    &-header {
      font-size: rem(25);
      font-weight: bold;
      color: #000;
    }
  }


  &__filter {
    &-header {
      font-size: rem(30);
      font-weight: 500;
      line-height: normal;
      color: #444a59;
      margin-bottom: 0;
      margin-right: 10px;
    }

    &-count {
      font-size: rem(30);
      font-weight: 300;
      line-height: normal;
      color: #79879e;
      margin-bottom: 0;
    }
  }
}

.regular {
  &__h1 {
    font-size: rem(36);
    margin-bottom: 0;
    color: #444a59;
  }
}