.video {
  overflow: visible;
  background: transparent;
  position: relative;
  display: none;
  width: 100%;
  max-width: 960px;
  height: auto;
  max-height: 540px;
  padding: 0;
  video {
    width: 100%;
    height: 100%;
  }

  &-controls {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__play {
      background: transparent;
      border-radius: 50%;
      border: none;

      &.is-played {
        display: none;
      }
    }
  }
}

.fancybox-button{
  &.fancybox-close-small{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    background: rgba(217,222,234, .8);
    width: 36px;
    height: 36px;
    right: -46px;
    padding: 0;
    @include mq-down(lg) {
      right: 0;
      top: -46px;
    }
  }
    svg {
      width: 100%;
      display: block;
      height: 100%;
      overflow: visible;
      position: relative;
      width: 26px;
      height: 26px;
  }
}

@include mq-down(md) {
  .fancybox-slide--html {
    padding: 0;
  }
}