<div class="video" id="video">
  <video controls>
    <source src="/assets/video/1.mp4" type="video/mp4">
  </video>
  <div class="video-controls">
    <button type="button" class="video-controls__play" id="play-pause">
      <img src="/assets/img/icons/icon-video-play.svg" alt="" class="img-responsive">
    </button>
  </div>
</div>