<div class="footer-upper">
    <div class="container">
      <div class="footer-upper-wrapper">
        <div class="footer__socials">
          <h6 class="footer__socials-title">Будьте в курсе главных событий</h6>
          <p class="footer__socials-descr">Узнавайте первыми о самых интересных лотах и<br> благотворительных
            инициативах.
            Следите за<br> использованием своих пожертвований с помощью<br> отчетов благотворительных организаций.</p>
          <form action="#" method="POST" class="form__footer">
            <div class="inline-inputs">
              <input class="form__footer-input" type="email" name="footer-email" id="" placeholder="Ваш Email">
              <input class="form__footer-submit" type="submit" value="Подписаться">
            </div>
          </form>
          <div class="footer__socials-icon-wrapper">
            <a href="#" class="footer__socials-icon">
              <img src="/assets/img/icons/icon-linkedin.svg" alt="" class="img-responsive">
            </a>
            <a href="#" class="footer__socials-icon">
              <img src="/assets/img/icons/icon-twitter.svg" alt="" class="img-responsive">
            </a>
            <a href="#" class="footer__socials-icon">
              <img src="/assets/img/icons/icon-facebook.svg" alt="" class="img-responsive">
            </a>
            <a href="#" class="footer__socials-icon">
              <img src="/assets/img/icons/icon-vk.svg" alt="" class="img-responsive">
            </a>
            <a href="#" class="footer__socials-icon">
              <img src="/assets/img/icons/icon-odnoklassniki.svg" alt="" class="img-responsive">
            </a>
            <a href="#" class="footer__socials-icon">
              <img src="/assets/img/icons/icon-instagram.svg" alt="" class="img-responsive">
            </a>
            <a href="#" class="footer__socials-icon">
              <img src="/assets/img/icons/icon-telegram.svg" alt="" class="img-responsive">
            </a>
          </div>
        </div>
        <div class="footer__about">
          <a href="#" class="footer__link-item">О проекте</a>
          <a href="#" class="footer__link-item">Новости</a>
          <a href="#" class="footer__link-item">Инвесторам</a>

          <div class="footer__about-howItWorks">
            <h6 class="footer__title">Как это работает</h6>
            <a href="#" class="footer__link-item">Для Покупателей</a>
            <a href="#" class="footer__link-item">Для Частных продавцов</a>
            <a href="#" class="footer__link-item">Для Брендов</a>
            <a href="#" class="footer__link-item">Для Фондов</a>
          </div>
        </div>
        <div class="footer__advt">
          <h6 class="footer__title">Объявления</h6>
          <a href="#" class="footer__link-item">Одежда</a>
          <a href="#" class="footer__link-item">Детям</a>
          <a href="#" class="footer__link-item">Электроника</a>
          <a href="#" class="footer__link-item">Бытовая техника</a>
          <a href="#" class="footer__link-item">Мебель</a>
          <a href="#" class="footer__link-item">Одежда</a>
          <a href="#" class="footer__link-item">Детям</a>
          <a href="#" class="footer__link-item">Электроника</a>
          <a href="#" class="footer__link-item">Бытовая техника</a>
          <a href="#" class="footer__link-item">Мебель</a>
        </div>
        <div class="footer__new-goods">
          <h6 class="footer__title">Новые вещи</h6>
          <a href="#" class="footer__link-item">Одежда</a>
          <a href="#" class="footer__link-item">Детям</a>
          <a href="#" class="footer__link-item">Электроника</a>
          <a href="#" class="footer__link-item">Бытовая техника</a>
          <a href="#" class="footer__link-item">Мебель</a>
          <a href="#" class="footer__link-item">Одежда</a>
          <a href="#" class="footer__link-item">Детям</a>
          <a href="#" class="footer__link-item">Электроника</a>
          <a href="#" class="footer__link-item">Бытовая техника</a>
          <a href="#" class="footer__link-item">Мебель</a>
        </div>
        <div class="footer__enter">
          <h6 class="footer__title">Вход</h6>
          <a href="#" class="footer__link-item">Войти</a>
          <a href="#" class="footer__link-item">Зарегистрировать</a>
          <a href="#" class="footer__link-item">Восстановить пароль</a>
        </div>
      </div>
    </div>
  </div>