<div class="footer-lower">
  <div class="container">
    <div class="footer-lower-wrapper">
      <div class="footer__company-info">
        <p class="footer__company-info-descr">2017-2018 © ООО «ТБП»<br> 121059 г. Москва. Площадь Европы д.2</p>
      </div>
      <div class="footer-lower__links">
        <a href="#" class="footer-lower__links-item">En</a>
        <a href="#" class="footer-lower__links-item">Ru</a>
        <a href="#" class="footer-lower__links-item">Публичная оферта</a>
        <a href="#" class="footer-lower__links-item">Политика конфеденциальности</a>
      </div>
    </div>
  </div>
</div>