footer {}

.footer {
  &-upper {
    border-top: 1px solid rgba(217, 228, 234, .5);
    padding: 35px 0 45px 0;
    &-wrapper {
      @include make-row();
    }

    @include mq-down (lg) {
      display: none;
    }
  }
  &-lower {
    border-top: 1px solid rgba(217, 228, 234, .5);
    padding: 15px 0 50px 0;
    &-wrapper {
      @include make-row();
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__links {
      @include make-col(4);
      padding-left: 30px;
      display: flex;
      justify-content: space-between;

      @include mq-down(xl){
        padding-left: $gap;
      }

      @include mq-down(lg) {
        @include make-col(6);
      }
      
      &-item {
        font-size: rem(11);
        font-weight: 500;
        color: #4489ff;
      }
    }
  }
  &__socials {
    @include make-col (4);
    padding-right: $gap;
    &-title {
      font-size: rem(20);
      font-weight: 500;
      color: #222222;
      margin-bottom: 20px;
    }
    &-descr {
      font-size: rem(13);
      font-weight: 500;
      line-height: 1.54;
      color: #696969;
      margin-bottom: 0;
    }
    &-icon {
      width: 36px;
      height: 36px;
      margin-right: 12px;
      img {
        object-fit: contain;
      }
      &-wrapper {
        display: flex;
      }
    }
  }
  &__about,
  &__advt,
  &__new-goods,
  &__enter {
    @include make-col(2);
    padding-left: $gap;
    padding-right: $gap;
    display: flex;
    flex-direction: column;
    &-howItWorks {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
    }
  }
  &__link {
    &-item {
      font-size: rem(13);
      font-weight: 500;
      line-height: 1.54;
      color: #4b576a;
    }
  }
  &__title {
    font-size: rem(15);
    font-weight: 500;
    color: #222222;
    margin-bottom: 11px;
  }
  &__company-info {
    @include make-col(3);
    padding-right: $gap;
    display: flex;
    justify-content: space-between;
    &-descr {
      font-size: rem(11);
      font-weight: 500;
      color: rgba(87, 87, 87, .5);
      margin-bottom: 0;
    }

    @include mq-down (lg){
      @include make-col(6);
    }
  }
}

.form {
  &__footer {
    margin: 30px 0;
    max-width: 300px;
    .inline-inputs {
      @extend .inline-inputs;
      position: relative;
    }
    &-input {
      width: 100%;
      border-radius: 100px;
      border: none;
      background-color: #f3f3f3;
      padding: 12px 120px 12px 15px;
      font-size: rem(12);
      font-weight: 500;
      color: rgba(0, 0, 0, .5);
    }
    &-submit {
      position: absolute;
      right: 0;
      border-radius: 96px;
      border: solid 1px #4489ff;
      background-color: #fff;
      font-size: rem(14);
      font-weight: 500;
      text-align: center;
      color: #4489ff;
      width: 100%;
      max-width: 120px;
      padding: 10px 0;
      text-align: center;
    }
  }
}