.fineuploader {
  height: 120px;
  width: auto;

  &__wrapper {
    position: relative;
    width: 580px;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    .fineuploader__wrapper-drop {
      display: none;
      color: #4489ff;
    }

    &.qq-upload-drop-area-active {

      justify-content: center;
      align-items: center;

      .fineuploader__wrapper-drop {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
      }

      .fineuploader__list,
      .fineuploader__button {
        display: none;
      }

    }

    @include mq-between(md, lg) {
      width: 540px;
    }

    @include mq-between(sm, md) {
      width: 700px;
    }
  }

  // &__dropzone {
  //   width: 580px;
  //   height: 100%;

  //   span {
  //     display: none;
  //   }

  //   &.qq-upload-drop-area-active {
  //     background: #fdfdfd;
  //     border-radius: 4px;
  //     z-index: 10;
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: center;
  //     align-items: center;

  //     span {
  //       display: flex;
  //       width: 100%;
  //       height: 100%;
  //       justify-content: center;
  //       align-items: center;
  //     }

  //    .fineuploader__list, .fineuploader__button {
  //       display: none;
  //     }
  //   }
  // }

  &__button {
    width: 120px;
    height: 120px;
    background-color: #f3f3f3;
    flex-shrink: 0;
    margin-right: 20px;

    &-inner {
      width: 100%;
      height: 100%;
      //padding: 45px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        margin-top: 5px;
        text-align: center;
        font-size: rem(12);
        font-weight: 500;
        color: rgba($color: #5d5d5d, $alpha: 0.5);
      }
    }

    &-cancel,
    &-retry {
      position: absolute;
      z-index: 1;
    }

    &-cancel {
      top: 12px;
      right: 12px;
      width: 16px;
      height: 16px;
      padding: 0;
      border: none;
      background: transparent;
    }

    &-retry {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: transparent;
      padding: 0;
      border: none;
      color: #fff;
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row-reverse;

    li {
      position: relative;
      list-style: none;
      width: 120px;
      height: 120px;
      margin-right: 20px;

      &:first-child {
        margin-right: 0;
      }

      &.qq-upload-fail {
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: '';
          display: block;
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        }

        .fineuploader__progressbar-container {
          display: none;
        }
      }

      &.qq-in-progress {
        >.fineuploader__button-retry {
          display: none;
        }
      }
    }
  }

  &__placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  &__progressbar {
    width: 100%;
    height: 100%;

    &-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 10px;
      border-radius: 30px;
      overflow: hidden;
      z-index: 3;
    }
  }

  .qq-in-progress {
    .fineuploader__placeholder-wrapper {
      filter: blur(4px);
    }
  }
}