<script id="qq-template-gallery" type="text/template">
  <div class="fineuploader__wrapper qq-uploader-selector qq-uploader qq-gallery">
    <div class="fineuploader__dropzone qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
      <span class="qq-upload-drop-area-text-selector">drop files here</span>
    </div>
    <ul class="fineuploader__list qq-upload-list-selector">
      <li>
        <div class="fineuploader__progressbar-container qq-progress-bar-container-selector">
          <div class="fineuploader__progressbar progress-bar progress-bar-striped progress-bar-animated qq-progress-bar-selector" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="fineuploader__placeholder-wrapper qq-thumbnail-wrapper">
          <img class="fineuploader__placeholder qq-thumbnail-selector">
        </div>
        <button class="fineuploader__button-cancel qq-upload-cancel-selector qq-upload-cancel" type="button">
          <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M16 3.4L14.6 2 9 7.6 3.4 2 2 3.4 7.6 9 2 14.6 3.4 16 9 10.4l5.6 5.6 1.4-1.4L10.4 9z" fill-rule="evenodd" fill="#fff" /></svg>
        </button>
        <button class="fineuploader__button-retry qq-upload-retry-selector qq-upload-retry" type="button">
          <span aria-label="Retry" class="qq-btn qq-retry-icon qq-upload-retry-selector qq-upload-retry">
            <svg height="20" viewbox="0 0 322.447 322.447" width="20" xmlns="http://www.w3.org/2000/svg"><path class="active-path" d="M315.503 227.604c-2.049-6.306-8.822-9.754-15.129-7.709l-15.614 5.073c9.565-19.78 14.575-41.532 14.575-63.744 0-80.776-65.715-146.49-146.491-146.49-80.776 0-146.491 65.714-146.491 146.49s65.715 146.49 146.49 146.49c6.632 0 12.008-5.376 12.008-12.007 0-6.63-5.376-12.007-12.007-12.007-67.534 0-122.476-54.941-122.476-122.476 0-67.534 54.942-122.476 122.476-122.476 67.534 0 122.476 54.942 122.476 122.476 0 18.609-4.199 36.826-12.222 53.378l-5.334-16.422c-2.05-6.305-8.824-9.756-15.13-7.709-6.307 2.05-9.76 8.824-7.71 15.13l14.159 43.58c1.647 5.076 6.354 8.302 11.417 8.302 1.228 0 2.48-.19 3.712-.59l43.582-14.157c6.306-2.05 9.758-8.823 7.71-15.132z" data-old_color="#F7F0F0" data-original="#000000" fill="#FFF" /></svg>
          </span>
          Retry
        </button>
      </li>
    </ul>
    <div class="fineuploader__button qq-upload-button-selector qq-upload-button">
      <div class="fineuploader__button-inner">
        <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 16.2a3.2 3.2 0 1 1 0-6.4 3.2 3.2 0 0 1 0 6.4zM9 3h6l1.83 2H20c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V7c0-1.1.9-2 2-2h3.17L9 3zm3 15c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5z" fill-rule="nonzero" fill="#000" opacity=".2" /></svg>
        <span>Click to upload or drag from your computer</span>
      </div>
    </div>
  </div>
</script>

<div class="fineuploader"></div>