<div class="ads-wrapper">
  <div class="ads-card">
    asda
  </div>
  <div class="ads-card">
    asda
  </div>
  <div class="ads-card">
    asda
  </div>
  <div class="ads-card">
    asda
  </div>
</div>