.celebrities {
  padding: 30px 0 55px;
  background-color: #f5f6f9;
  border-bottom: 1px solid #d9deea;

  @include mq-down(md) {
    padding-bottom: 40px;
  }

  &-card {
    @extend .card;
    @include make-col(3);
    margin-left: $gap;
    margin-right: $gap;
    margin-bottom: 20px;
    min-width: 280px;
    max-width: 280px;
    border-radius: 0;
    padding: 20px 0 5px;
    border: none;

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
    }

    @include mq-up (xl) {    
      &:first-child {
        margin-left: 0;
      }

      &:nth-child(4n-3) {
        margin-left: 0;
      }

      &:nth-child(4n+4) {
        margin-right: 0;
      }
    }

    @include mq-down(md) {
      margin: 0 $gap 20px !important;
    }

    @include mq-down(md) {
      flex: 1 0 100%;
      max-width: 90%;
      min-width: 0;
    }

    &__wrapper {
      @include make-row();
      justify-content: center;
      flex-wrap: wrap;
    }

    &-img {
      width: 160px;
      height: 160px;
      margin: 0 auto;
      border-radius: 50%;
      object-fit: cover;
    }

    &-body {
      @extend .card-body;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &-name {
    display: block;
    font-size: rem(24);
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #000;
  }

  &-role {
    font-size: rem(12);
    font-weight: 500;
    line-height: 1.33;
    color: #000;
    margin-bottom: 5px;
  }
}

.lots {
  &-total {
    margin-bottom: 0;
  }
}