<div class="account-card">
  <img  class="account-avatar img-responsive" src="/assets/img/account/account-avatar.jpg" alt="">
  <div class="account-card-body">
    <div class="account-donations">
      <p class="account-donations-total">0 <span>₽</span></p>
      <p class="account-donations-descr">пожертвовано</p>
    </div>
    <div class="account-funds">
      <p class="account-funds-total">0</p>
      <p class="account-funds-descr">поддержано фондов</p>
    </div>
  </div>
</div>