{% if cartItems %}
  {% for card in cartItems %}
    {% if card.isDeleted == false %}
      <div class="cards-cart--dropdown">
        <img class="cards-cart--dropdown__img" src="{{ card.img }}" alt="">
        <div class="cards-cart--dropdown-body">
          <p class="cards-cart--dropdown-name">{{ card.name }}</p>
          <div class="cards-cart--dropdown-info">
            <p class="cards-cart--dropdown-value">{{card.price}}
              {{card.priceTag}}</p>
            <button class="btn__cart-remove">
              <svg height="16px" version="1.1" viewbox="0 0 16 16" width="16px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                  <g fill="#e1e5ee" transform="translate(-11.000000, -11.000000)">
                    <g>
                      <g transform="translate(10.000000, 10.000000)">
                        <polygon points="9.33333333 6.66666667 16 6.66666667 16 9.33333333 9.33333333 9.33333333 9.33333333 16 6.66666667 16 6.66666667 9.33333333 0 9.33333333 1.6328624e-16 6.66666667 6.66666667 6.66666667 6.66666667 0 9.33333333 0" transform="translate(8.000000, 8.000000) rotate(45.000000) translate(-8.000000, -8.000000) "></polygon>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    {% else %}
      <div class="cards-cart--dropdown --deleted">
        <p class="cart-card--deleted-descr">Товар был удален из корзины.</p>
        <a class="cart-card--deleted-decline" href="#">Отменить</a>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
