<div class="cart-card">
  <img alt="" class="cart-img" src="/assets/img/cart/item-1.jpg">
  <div class="cart-card-body">
    <p class="cart-name">Картина «Сергей» Ольги Молчановой-Пермяковой (арт-аукцион «Всякое добро»)</p>
    <div class="cart-info">
      <div class="cart-inputNumberMini-outer">
        <label class="cart-inputNumberMini-outer-label" for="qanity">Количество</label>
        <div class="cart-inputNumberMini-wrapper">
          <input class="cart-inputNumberMini" data-type="number" min="1" name="qanity" type="number" value="1">
          <div class="cart-inputNumberMini-controls-wrapper">
            <button class="cart-inputNumberMini-controls" data-action="increase" type="button">
              <img alt="" src="/assets/img/icons/icon-button-inputNumber-control.svg">
            </button>
            <button class="cart-inputNumberMini-controls" data-action="decrease" type="button">
              <img alt="" src="/assets/img/icons/icon-button-inputNumber-control.svg">
            </button>
          </div>
        </div>
      </div>
      <p class="cart-price">5 085 Р.</p>
    </div>
  </div>