.card {
  &-bookmarks {
    position: relative;
    width: 100%;
    max-width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    overflow: hidden;

    @include mq-up(xl) {
      &:nth-child(4n) {
        margin-right: 0;
      }
    }

    @include mq-between(lg, xl) {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include mq-down(lg) {
      margin-left: auto;
      margin-right: auto;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &__name {
      font-size: rem(14);
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;

      &:hover {
        color: #000;
      }

      &-wrapper {
        border-top: 1px solid rgba(0, 0, 0, .125);
        padding: 10px;
      }
    }

    &__buyer {
      &-outer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
      }

      &-name {
        font-size: rem(11);
        font-weight: 500;
        line-height: normal;
        color: #000;
        margin-bottom: 0;
      }

      &-place {
        @extend .deals-bet__current-descr;
      }


      &-img {
        @extend .deals-card__buyer-img;
      }
    }

    &__price {
      font-size: 20px;
      font-weight: bold;
      line-height: normal;
      color: #000;
      margin-right: 15px;

      &-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        border-top: 1px solid #ebeff4;
      }
    }

    &__charity {
      font-size: rem(11);
      font-weight: 500;
      line-height: normal;
      color: #000;

      &-value {
        font-weight: bold;
        color: #9462ff;
        margin-right: 5px;
      }
    }
  }
}