.mobile-menu {
  &--catalogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 260px;
    height: auto;
    background: #fff;
    z-index: 5002;
    transition: 0.3s ease-in-out;
    transform: translateX(-100%);

    &.is-active {
      transform: translateX(0%);
    }

    &__header {
      font-size: rem(23);
      font-weight: bold;
      line-height: normal;
      color: #000;
      margin-bottom: 0;
    }
  }
}