<div class="mobile-menu">
  <a class="nav__menu-item" href="#">Как это работает</a>
  <a class="nav__menu-item" href="#">Фонды</a>
  <a class="nav__menu-item" href="#">Объявления</a>
  <a class="nav__menu-item popup--toggle" data-modal="login" href="#">Войти</a>
</div>