<form action="#" class="form__marketplace-search">
  <input class="form__marketplace-search-input" onblur="this.placeholder = 'Search for items'" onfocus="this.placeholder = ''" placeholder="Search for items" type="text">
  <button class="form__marketplace-search-submit">
    <svg class="form__marketplace-search-icon" height="24" viewbox="0 0 15 15" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.023 9.609l3.184 3.184-1.414 1.414-3.184-3.184a6.077 6.077 0 1 1 1.414-1.414zM6.077 2a4.077 4.077 0 1 0 0 8.154 4.077 4.077 0 0 0 0-8.154z" fill-rule="nonzero"></path>
    </svg>
  </button>
</form>