.form {
  &-button {
    &-color {
      width: 100%;
      height: 100%;
      max-width: 940px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include mq-between(lg, xl) {
        max-width: 720px;
        flex-wrap: wrap;
      }

      @include mq-down(lg) {
        flex-direction: column;
      }

      &__btn {
        &.is-picked {
          border: solid 2px #4489ff;
        }
      }

      &__container {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @include mq-down(lg) {
          flex-wrap: wrap;
        }
      }

      &__wrapper {
        display: flex;
        align-items: center;
      }

      &-info {
        z-index: 0;
        margin-left: -30px;
        padding-left: 30px;
        max-width: 85px;
        border: none;
        border-bottom: 1px solid #fafafa;
        font-size: rem(12);
        font-weight: 500;
        line-height: 1.42;
        color: #000;
        text-transform: uppercase;
      }

      &__btn {
        z-index: 1;
        width: 30px;
        height: 30px;
        border: 1px solid #ebeff4;
        border-radius: 4px;
        margin-right: 8px;

        @include mq-down(lg) {
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }

      &-reset {
        width: 120px;
        padding: 9px 0;
        border-radius: 96px;
        border: solid 1px #4489ff;
        background-color: #ffffff;
        font-size: rem(14);
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #4489ff;
      }

      &-submit {
        @extend .form-button-color-reset;
        width: 190px;
        background-color: #84be46;
        border-color: #84be46;
        color: #fff;

        &:disabled {
          opacity: .5;
        }

        @include mq-down(lg) {
          width: 100%;
        }
      }

      &__controls {
        @include mq-down(xl) {
          margin: 25px 0;
        }

        @include mq-down(lg) {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          input {
            width: 135px;
            font-size: rem(14);
          }
        }
      }
    }
  }
}