<div class="form-button-color__controls">
    <input class="form-button-color-reset" type="reset" value="Отменить">
    <input class="form-button-color-submit" type="submit" value="Сохранить" disabled>
</div>