.form {
  &-cart {
    &-delivery {
      &__header {
        @extend .form-cart-checkout__header;

        &-descr {
          @extend .form-cart-checkout__header-descr;
        }
      }

      &-body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px 30px 40px;
      }

      &__contacts {
        &-wrapper {
          width: 100%;
          max-width: 250px;
          margin-right: $gap;
        }

        &-header {
          font-size: rem(15);
          font-weight: bold;
          line-height: 2;
          color: #000;
          margin-bottom: 10px;
        }
      }

      &__address {
        &-wrapper {
          width: 100%;
          max-width: 440px;
          margin-left: $gap;
        }

        &-header {
          @extend .form-cart-delivery__contacts-header;
        }

        &-doubleInput {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          >.form-cart-delivery__input-outer {
            max-width: 210px;
          }
        }
      }

      &__input {
        font-size: rem(15);
        font-weight: 500;
        line-height: 1.47;
        color: #000;
        padding: 0 5px;
        width: 100%;
        border: none;
        border-bottom: 2px solid #ebeff4;
        padding: 0 5px 5px;

        &::placeholder {
          color: rgba($color: #000, $alpha: .3);
        }

        &:focus {
          border-color: #4489ff;
        }

        &-label {
          top: 0;
          left: 0;
          font-size: rem(10);
          font-weight: bold;
          line-height: 1;
          color: #4b5769;
          margin-bottom: 0;
          text-transform: uppercase;
        }

        &-outer {
          position: relative;
          width: 100%;
          margin-bottom: 20px;
        }
      }

      &__select {
        @extend .form-cart-checkout__delivery-select;
        padding-top: 0;
        padding-bottom: 4px;

        &:required {
          &:invalid {
            color: rgba($color: #000, $alpha: .3)
          }
        }

        &-wrapper {
          @extend .form-cart-checkout__delivery-select-wrapper;
          padding: 0;
          max-width: 210px;
        }

        &-chevron {
          @extend .form-cart-checkout__delivery-select-chevron;
          right: 5px;
        }
      }

      &__checkbox {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        &-label {
          position: relative;
          padding-left: 30px;
          font-size: rem(15);
          font-weight: 500;
          line-height: 1.47;
          color: #000;
          cursor: pointer;

          &:hover {
            .form-cart-delivery__checkbox {
              ~.form-cart-delivery__checkbox-checkmark {
                border-color: #4489ff;
              }
            }
          }

          .form-cart-delivery__checkbox {
            &:checked {
              ~.form-cart-delivery__checkbox-checkmark {
                border-color: #4489ff;
                background-color: #4489ff;

                &::after {
                  position: absolute;
                  content: "";
                  left: 6px;
                  top: 2px;
                  width: 6px;
                  height: 12px;
                  border: solid #fff;
                  border-width: 0 2px 2px 0;
                  transform: rotate(45deg);
                }
              }
            }
          }
        }

        &-checkmark {
          width: 22px;
          height: 22px;
          border: 2px solid #ebeff4;
          border-radius: 4px;
          position: absolute;
          left: 0;
          top: 0;
          background: #fff;
        }
      }
    }
  }
}