<form action="#" class="form-button-color" method="POST">
  <div class="form-button-color__container">
    {% if editMode == 'colorMobile' %}
      {% for item in colors|slice(0,10) %}
        <a href="javascript:void(0);" class="form-button-color__btn {% if loop.last %}is-picked btn__paste{% endif %}" data-color="{{ item.color }}"></a>
      {% endfor %}
    {% else %}
      {% for item in colors %}
        <a href="javascript:void(0);" class="form-button-color__btn {% if loop.last %}is-picked btn__paste{% endif %}" data-color="{{ item.color }}"></a>
      {% endfor %}
    {% endif %}
    <input class="form-button-color-info" name="color-paste" type="text" value="">
  </div>
  {% include "./form-edit-account-controls.twig" %}
</form>