<form class="form-button-color" action="#" method="POST">
  <div class="form-button-color__container">
    <a href="javascript:void(0);" data-color="#000" class="form-button-color__btn"></a>
    <a href="javascript:void(0);" data-color="#fff" class="form-button-color__btn"></a>
    <a href="javascript:void(0);" data-color="#4b5769" class="form-button-color__btn"></a>
    <a href="javascript:void(0);" data-color="#4489ff" class="form-button-color__btn"></a>
    <a href="javascript:void(0);" data-color="#84be46" class="form-button-color__btn"></a>
    <a href="javascript:void(0);" data-color="#119da4" class="form-button-color__btn"></a>
    <a href="javascript:void(0);" data-color="#004e98" class="form-button-color__btn"></a>
    <a href="javascript:void(0);" data-color="#630e59" class="form-button-color__btn"></a>
    <a href="javascript:void(0);" data-color="#f4b9b2" class="form-button-color__btn"></a>
    <a href="javascript:void(0);" data-color="#880d1e" class="form-button-color__btn"></a>
    <a href="javascript:void(0);" data-color="#ffc857" class="form-button-color__btn is-picked"></a>
    <input class="form-button-color-info" type="text" name="color-paste" value="">
  </div>
  <div class="form-button-color__controls">
    <input class="form-button-color-reset" type="reset" value="Отменить">
    <input class="form-button-color-submit" type="submit" value="Сохранить изменения" disabled>
  </div>
</form>