.form {
  &__popup {
    margin: 30px 0;
    max-width: 700px;
    width: 100%;
    padding-left: $gap;
    padding-right: $gap;

    &-sell {
      &-fieldset {
        order: 2;
        margin-bottom: 0;
        height: 0;
        position: relative;
        transform: scale(0);
        transition: transform .5s ease;

        &>* {
          height: 0;
        }

        &-wrapper {
          @extend .form__popup;
          width: 100%;
          max-width: 782px;
          display: flex;
          flex-direction: column;
          overflow: hidden;
        }

        &.is-active {
          display: block !important;
          order: 1;
          height: auto;
          transform: scale(1);
          margin-bottom: 145px;

          @include mq-between(sm, lg) {
            margin-bottom: 0;
          }

          @include mq-down(sm) {
            margin-bottom: 55px;
          }

          >* {
            height: auto;
          }
        }

        .inline-inputs {
          margin-top: 25px;
        }
      }
    }

    @include mq-down(md) {
      margin-top: 10px;
      margin-bottom: 40px;
    }

    .inline-inputs {
      margin-top: 30px;

      @include mq-down(md) {
        flex-direction: column;
      }
    }

    &-label {
      width: 100%;
      max-width: 180px;
      padding-right: $gap;
      padding-left: 3px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: rem(18);
      font-weight: 500;
      line-height: 1.44;
      color: rgba($color: #5d5d5d, $alpha: 0.5);
      margin-bottom: 0;
      border: none;
      text-transform: capitalize;

      @include mq-down(md) {
        font-size: rem(15);
        padding-left: 10px;
      }

      &-checkbox {
        margin-bottom: 0;
        margin-left: 30px;
        font-size: rem(12);
        font-weight: 500;
        line-height: 1.42;

        &::before {
          display: block;
          content: '';
          position: absolute;
          left: 10px;
          top: 0;
          width: 16px;
          height: 16px;
          background: transparent;
          border-radius: 2px;
          border: solid 2px rgba(93, 93, 93, .5);
        }

        &:hover {
          cursor: pointer;

          &::before {
            border-color: #4489ff;
          }
        }
      }

      &-sell {
        @extend .form__popup-label;
        align-items: flex-start;

        &.photos {
          min-width: 180px;
        }
      }
    }

    &-input {
      width: 100%;
      max-width: 500px;
      height: 50px;
      border: none;
      border-bottom: 2px solid #ebeff4;
      color: #1b1d24;
      padding: 0 5px;
      font-size: rem(19);

      @include mq-down(md) {
        max-width: 100%;
      }

      &:focus {
        border-bottom: 2px solid #4489ff;
      }

      &.is-invalid {
        border-bottom: 2px solid #ff6e63;
        color: #ff6e63;
      }

      &-checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked+.form__popup-label-checkbox {
          &::before {
            border-color: #4489ff;
            background-color: #4489ff;
            background-size: contain;
          }

          &::after {
            position: absolute;
            content: "";
            left: 16px;
            top: 3px;
            width: 4px;
            height: 8px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }

        &:invalid+.form__popup-label-checkbox {
          color: #ff6e63;

          &::before {
            border-color: #ff6e63;
          }
        }
      }

      &::placeholder {
        line-height: 1.58;
        letter-spacing: -0.2px;
        font-size: rem(19);
        color: #9ba1b3;
      }

      &-wrapper {
        position: relative;
        width: 100%;
        padding-left: $gap;
        display: flex;

        .not-valid {
          visibility: hidden;
          position: absolute;
          bottom: -26px;
          left: $gap;
          font-size: rem(12);
          font-weight: 500;
          line-height: 2.17;
          color: #ff6e63;
        }

        @include mq-down(md) {
          padding-right: $gap;
        }
      }

      &-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        @include mq-down(sm) {
          padding-left: 10px;
          padding-right: 10px;
          flex-wrap: wrap;
        }
      }

      &-create {
        @extend .form__popup-input;
        max-width: 100%;
        border-bottom: 2px solid #ebeff4;
        color: #000;

        @include mq-down(sm) {
          font-size: rem(15);
          height: 36px;
          margin-top: 10px;
        }

        &::placeholder {
          font-size: rem(15);
          color: rgba($color: #5d5d5d, $alpha: 0.5);
        }

        &:focus {
          border-bottom: 2px solid #4489ff;
        }


        &-wrapper {
          @extend .form__popup-input-wrapper;
          padding-left: 0;

          @include mq-down(sm) {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }

    &-submit {
      @extend .btn-xlg;
      max-width: 250px;

      @include mq-down(md) {
        max-width: 100%;
      }
    }

    &-login {
      &-anchors {
        display: flex;
        justify-content: space-between;

        @include mq-down(sm) {
          justify-content: flex-start;
        }
      }

      &-anchor {
        font-size: rem(14);
        font-weight: bold;
        line-height: 1.86;
        color: #4489ff;

        @include mq-down(md) {
          font-size: rem(15);
        }

        @include mq-down(sm) {
          margin-right: 25px;
        }
      }
    }

    &-textarea {
      @extend .popup-edit__textarea;
      font-size: rem(19) !important;

      @include mq-down(sm) {
        font-size: rem(15) !important;
      }

      &-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @include mq-down(sm) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    &-tip {
      font-size: rem(14);
      font-weight: 500;
      line-height: 1.86;
      color: rgba($color: #5d5d5d, $alpha: 0.5);
      margin-bottom: 0;

      @include mq-down(sm) {
        display: none;
      }

      &__wrapper {
        position: relative;
        padding-top: 7px;
        padding-left: 2px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include mq-down(sm) {
          justify-content: flex-end;
        }
      }

      &-trigger {
        @extend .form__popup-tip;
        color: #4489ff;

        @include mq-down(sm) {
          display: block;
        }

        &:hover {
          color: #4489ff;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    &-selectSimple {
      appearance: none;
      border-radius: 0;
      width: 100%;
      border: none;
      border-bottom: 2px solid #ebeff4;
      background: #fff;
      padding: 5px;
      font-size: rem(19);
      font-weight: 500;
      line-height: 1.58;
      color: #000;

      @include mq-down(sm) {
        font-size: rem(15)
      }

      &:focus {
        outline: none;
        border-bottom-color: #4489ff;
      }

      &-wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        @include mq-down(sm) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    &-selectMini {
      @extend .form__popup-selectSimple;

      @include mq-down(sm) {
        font-size: rem(15);
      }

      &-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @include mq-down(sm) {
          padding-left: 10px;
          padding-right: 10px;
          flex-wrap: wrap;
        }
      }

      &-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
      }

      &-outer {
        width: 100%;
        height: 100%;
        max-width: 180px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;

        @include mq-down(sm) {
          margin-right: 0;
          margin-left: 0;
          max-width: 100%;
          margin-top: 10px;
        }

        &-label {
          margin-bottom: 5px;
          font-size: rem(12);
          font-weight: bold;
          line-height: 2;
          color: #4b5769;
          text-transform: uppercase;

          @include mq-down(sm) {
            font-size: rem(10);
            padding: 0 1px;
          }
        }
      }
    }

    &-chevronSelect {
      position: absolute;
      top: 40%;
      right: 5px;
      object-fit: contain;

      @include mq-down(lg) {
        right: 12px;
      }
    }

    &-inputNumberMini {
      width: 100%;
      border: none;
      border-bottom: 2px solid #ebeff4;
      background: #fff;
      padding: 5px;
      font-size: rem(19);
      font-weight: 500;
      line-height: 1.58;
      color: #000;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
      }

      @include mq-down(sm) {
        font-size: rem(15);
      }

      &-outer {
        @extend .form__popup-selectMini-outer;

        @include mq-down(sm) {
          margin-top: 30px;
          flex: 0 1 48%;
          margin-right: 10px;

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }

        &:nth-last-of-type(1) {
          margin-right: 0;
        }

        &-label {
          @extend .form__popup-selectMini-outer-label;
        }
      }

      &-wrapper {
        @extend .form__popup-selectMini-wrapper;
      }

      &-controls {
        margin: 1px 0 0;
        padding: 0;
        border: none;
        background: transparent;
        width: 29px;
        height: 18px;

        @include mq-down(sm) {
          height: 16px;
        }

        &:nth-last-child(1) {
          transform: rotate(180deg);
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
        }

        &-wrapper {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 5px;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: flex-start;

          @include mq-down(sm) {
            top: -3px;
            justify-content: space-between;
          }
        }
      }

      &-span {
        position: absolute;
        left: 30px;
        top: 5px;
        font-size: rem(19);
        font-weight: 500;
        line-height: 1.58;
        color: #000;
      }
    }

    &-select {
      @extend .form__popup-selectSimple;
      height: 100%;

      &-outer {
        width: 100%;
        max-width: 380px;
        height: 42px;
        margin-right: 20px;
        position: relative;

        @include mq-down(sm) {
          max-width: 100%;
          margin-right: 0;
        }

        &_location {
          @extend .form__popup-select-outer;
          max-width: 120px;

          @include mq-down(sm) {
            margin-top: 10px;
            flex: 0 1 48%;
            margin-right: 10px;

            &:nth-last-of-type(1) {
              margin-right: 0;
            }
          }
        }
      }

      &:required {
        &:invalid {
          color: rgba($color: #5d5d5d, $alpha: 0.5);
        }
      }
    }

    &-upload {
      &-photo {

        &-wrapper {
          @extend .form__popup-input-wrapper;
          width: 100%;
          padding-left: 0;
          max-width: 100%;
          overflow: auto;

          @include mq-down(md) {
            margin-top: 15px;
          }

          @include mq-down(sm) {
            padding-right: 0 !important;
          }

        }

        &-container {
          width: 100%;

          @include mq-down(sm) {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }

    &-tabs {
      flex: 1 0 100%;
      order: 2;
      transform: translateX(300%);
      transition: transform 0.5s linear;

      &.is-active {
        order: 1;
        transform: translateX(0%);
      }

      &-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include mq-down(sm) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      &_switcher {
        position: relative;
        margin-right: 40px;
        font-size: rem(19);
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.37;
        letter-spacing: normal;
        color: rgba($color: #5d5d5d, $alpha: 0.5);
        padding-bottom: 14px;

        @include mq-down(sm) {
          font-size: rem(15);
          margin-right: 20px;

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }

        &:hover {
          color: inherit;
          text-decoration: none;
        }

        &.is-active {
          color: #000;

          &::after {
            display: block;
            position: absolute;
            bottom: 0;
            content: "";
            width: 100%;
            height: 4px;
            background-color: #4489ff;
          }
        }
      }

      &-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
  }
}