<form action="#" class="form__footer">
  <div class="inline-inputs">
    <div class="subscribe-sucess">Вы успешно подписались на наши новости!</div>
    <input class="form__footer-input" type="email" name="footer-email" id="" placeholder="Ваш Email">
    <input class="form__footer-submit" type="submit" value="Подписаться">
  </div>
</form>