{% if banner %}
  {% for banner in banner %}
    <div class="banner" style="background-image: url(/assets/img/banner/1.jpg);background-repeat: no-repeat; background-size: cover; background-position: center top">
      <div class="banner__container">
        <p class="banner__accountName">{{ banner.name }}</p>
        {% if banner.editable == true %}
          {% include "../dropdown/dropdown.twig" %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endif %}