<div class="banner" style="background-image: url(/assets/img/banner/1.jpg);background-repeat: no-repeat; background-size: cover; background-position: center top">
  <div class="container">
    <p class="banner__accountName">Квартет И</p>
  </div>
</div>