<section class="categories-landing">
  <div class="container">
    <div class="row justify-content-between">
      <div class="categories-landing__link_wrapper">
        <a href="#" class="categories-landing__link-big">
          <figure class="categories-landing_item-big">
            <figcaption class="categories-landing_item-caption-big">
              Звездные вещи
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="categories-landing__link_wrapper">
        <a href="#" class="categories-landing__link-wide">
          <figure class="categories-landing_item">
            <figcaption class="categories-landing_item-caption">
              Новые вещи от добрых брендов
            </figcaption>
          </figure>
        </a>
        <a href="#" class="categories-landing__link-small">
          <figure class="categories-landing_item">
            <figcaption class="categories-landing_item-caption">
              Аукционы
            </figcaption>
          </figure>
        </a>
        <a href="#" class="categories-landing__link-small">
          <figure class="categories-landing_item">
            <figcaption class="categories-landing_item-caption">
              Частные обьявления
            </figcaption>
          </figure>
        </a>
      </div>
      <a href="#" class="btn btn__categories_landing">Все категории <img src="/assets/img/icon-chevron-right-white.svg" alt="" class="img-responsive"></a>
    </div>
  </div>
</section>