[class^='categories-landing'] {
  &:hover {
    text-decoration: none;
  }
}

.categories {
  &-landing {
    border-bottom: 1px solid rgba(217, 228, 234, .5);
    &__link {
      &_wrapper {
        @include make-col(6);
        max-width: 580px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 50px;

        a {
          &:hover {
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
          }
        }

        @include mq-between(lg, xl) {
          max-width: 470px;
        }
      }
      &:hover {
        cursor: pointer;
      }
      &-big {
        display: block;
        width: 100%;
        height: 600px;

        @include mq-between(lg, xl) {
         height: 540px;
        }
      }
      &-wide {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 290px;
        margin-bottom: 20px;

        @include mq-between(lg, xl) {
          max-height: 260px;
        }
      }
      &-small {
        display: block;
        width: 100%;
        max-width: 280px;
        height: 100%;
        max-height: 290px;

        @include mq-between(lg, xl) {
          max-height: 260px;
          max-width: 225px;
        }
      }
    }
    &_item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 0;
      height: 100%;
      &-big {
        @extend .categories-landing_item;
      }
      &-caption {
        position: absolute;
        bottom: 50px;
        left: 30px;
        font-size: rem(38);
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;

        @include mq-between(lg,xl) {
          font-size: rem(30);
          left: 20px;
        }

        &-big {
          @extend .categories-landing_item-caption;
          font-size: rem(54);
          left: 50px;
          @include mq-between(lg,xl) {
            font-size: rem(40);
            left: 35px;
          }
        }

        
      }
      &-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}