.news {
  &__landing {
    padding: 80px 0 50px;
    background-color: #f1f5f9;
    &-card {
      @extend .card;
      @include make-col(4);
      max-width: 380px;
      margin-left: $gap;
      margin-right: $gap;
      border-radius: 0;
      border: none;
      &:nth-child(1) {
        margin-left: 0;
      }
      &:nth-last-child(1) {
        margin-right: 0;
      }
      &:hover {
        cursor: pointer;
        text-decoration: none;
        box-shadow: 0 0 20px 0 rgba(57, 60, 66, 0.1);
      }
      &-body {
        @extend .card-body;
        padding: 40px 10px 40px 50px;
      }
    }
    &-img {
      width: 100%;
      height: auto;
    }
  }
  &__title {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.45;
    margin-bottom: 18px;
    &:nth-of-type(2) {
      margin-bottom: 26px;
    }
    &:nth-child(3) {
      margin-bottom: 56px;
    }
  }
  &__excerpt {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #4b5769;
    max-width: 320px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
  }
  &__date {
    font-weight: 300;
    font-size: 10px;
    line-height: 1.8;
    letter-spacing: 1px;
    color: #4b5769;
  }
}