.news {
  &__landing {
    padding: 80px 0 50px;
    background-color: #f1f5f9;
    &-card {
      @extend .card;
      @include make-col(4);
      max-width: 380px;
      height: 100%;
      border-radius: 0;
      border: none;

      @include mq-between(lg,xl) {
        max-width: 306px;
      }

      @include mq-down(lg) {
        @include make-col(12);
        max-width: 100%;
      }
      &--wrapper {
        margin-left: $gap;
        margin-right: $gap;
        &:nth-child(1) {
          max-height: 615px;
          margin-left: 0;
        }
        &:nth-child(2) {
          height: 635px;
        }
        &:nth-last-child(1) {
          height: 665px;
          margin-right: 0;
        }
        &:hover {
          cursor: pointer;
          text-decoration: none;
          box-shadow: 0 0 20px 0 rgba(57, 60, 66, 0.1);
        }

        @include mq-down(lg) {
          margin-bottom: 40px;
          margin-left: $gap !important;
          margin-right: $gap !important;
        }
      }
      &-body {
        @extend .card-body;
        padding: 40px 10px 40px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mq-down(xl){
         padding: 40px 30px;
        }
      }
    }
    &-img {
      width: 100%;
      height: 330px;
      object-fit: cover;
    }
  }
  &__title {
    color: #000;
    font-size: rem(22);
    font-weight: 500;
    line-height: 1.45;
    margin-bottom: 24px;
  }
  &__excerpt {
    font-size: rem(16);
    font-weight: 300;
    line-height: 1.5;
    color: #4b5769;
    max-width: 320px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &__date {
    font-weight: 300;
    font-size: rem(10);
    line-height: 1.8;
    letter-spacing: 1px;
    color: #4b5769;
  }
}