.blockchain {
  padding: 50px 0;
  &__info {
    &-wrapper {
      @include make-col(6);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: $gap;
      padding-right: $gap;
      &:nth-child(1) {
        align-items: flex-end;
      }

      @include mq-down(md) {
        @include make-col(12);
        justify-content: center;
        align-items: center;

        &:nth-child(1) {
          order: 2;
          justify-content: center;
        align-items: center;
        }

        &:nth-child(2) {
          order: 1;
        }
      }
    }
    &-title {
      font-size: rem(22);
      font-weight: 500;
      line-height: 1.45;
      margin-bottom: 6px;

      @include mq-down(md) {
        font-size: rem(18);
        margin-left: $gap;
      }

      @media screen and (max-width: 330px) {
        margin-left: $gap;
      }
    }
    &-more {
      display: flex;
      width: 100%;
      max-width: 145px;
      justify-content: space-between;
      font-weight: 300;
      line-height: 1.5;
      color: #4b5769;

      &:hover {
        color: #4b5769;
        text-decoration: none;
        cursor: pointer;
      }

      @include mq-down(md) {
        font-size: rem(18);
        
      }
      
      @media screen and (max-width: 330px) {
        margin-left: -$gap*2;
      }

    }
    &-logo {
      margin-left: 45px;

      @include mq-down(md) {
        margin-left: 0;
      }

      @media screen and (max-width: 330px) {
        margin-right: auto; 
      }
    }
  }
}