<section class="blockchain">
  <div class="container">
    <div class="row">
      <div class="blockchain__info-wrapper">
        <h5 class="blockchain__info-title">Просто и безопасно</h5>
        <a href="#" class="blockchain__info-more">Узнать больше <img src="/assets/img/icons/icon-chevron-right-black.svg"
            alt="" class="img-responsive"></a>
      </div>
      <div class="blockchain__info-wrapper">
        <img src="/assets/img/logo/logo-blockchain.svg" alt="" class="img-responsive blockchain__info-logo">
      </div>
    </div>
  </div>
</section>