[class^='btn'] {
  display: block;
  border: 1px solid #fff;
  color: #fff;
  width: 100%;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.btn {
  &-sm {}
  &-mid {
    @extend [class^='btn'];
    border-radius: 96px;
    text-align: center;
    max-width: 140px;
    font-size: rem(12);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 10px 30px 9px 30px;

    &:focus {
      border: solid 2px #e9ff00;
      text-decoration: none;
      color: inherit;
      padding-top: 9px;
      padding-bottom: 8px;
    }
  }
  &-xlg {
    @extend [class^='btn'];
    background: #4489ff;
    border-radius: 96px;
    text-align: center;
    max-width: 210px;
    padding: 13px 0;
    border: 2px solid #4489ff;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      background: #4f90fe;
      color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    &:focus {
      border-color: #e9ff00;
      text-decoration: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      color: #fff;
    }

    
  }
  &-header {
    padding: 7px 10px;
    &:focus {
      padding: 6px 10px;
    }

    @include mq-down(lg){
      margin-left: 15px;
    }
  }
  &-transparent {
    @extend [class^='btn'];
    background: transparent;
    color: #fff;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  &-video {
    @extend [class^='btn'];
    color: #fff !important;
    max-width: 235px;
    padding: 0;
    font-size: rem(18);
    font-weight: 500;
    border: none;
    background: transparent;
    margin: 0 auto 60px auto;
    
    span {
      margin-right: 25px;
      @include mq-down(sm) {
        margin-right: 0;
        order: 2;
        margin-top: 1rem;
      }
    }

    @include mq-down(sm) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__img {
      width: 32px;
      height: 32px;
      display: inline-block;
      border: none;
    }
  }
  &__categories {
    &_landing {
      @extend .btn-xlg;
      display: flex;
      justify-content: center;
      margin: auto auto 50px auto;

      @include mq-down(md) {
        max-width: 100%;
      }
      img {
        margin-left: 10px;
      }
    }
  }
  &__news {
    &-more {
      @extend .btn-xlg;
      position: absolute;
      top: 150px;
      right: -30px;
      display: flex;
      justify-content: space-between;
      padding-right: 30px;
      padding-left: 45px;
      width: 100%;
      max-width: 126px;

      @include mq-between (lg, xl) {
        right: -10px;
      }

      @include mq-down (lg) {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        img {
          margin-left: 15px;
        }
      }
    }
  }
  &-ok{
    @extend .btn-mid;
    max-width: 130px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #4489ff;

    @include mq-down(md) {
      max-width: 90%;
    }

    &:hover {
      background: #4f90fe;
    }
  }
}
