[class^='btn'] {
  display: block;
  border: 1px solid #fff;
  color: #fff;
  width: 100%;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.btn {
  &-sm {}
  &-mid {
    @extend [class^='btn'];
    border-radius: 96px;
    text-align: center;
    max-width: 140px;
    font-size: rem(12);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 10px 30px 9px 30px;
    &:focus {
      border: solid 2px #e9ff00;
      text-decoration: none;
      color: inherit;
      padding-top: 9px;
      padding-bottom: 8px;
    }
  }
  &-xlg {
    @extend [class^='btn'];
    background: #4489ff;
    border-radius: 96px;
    text-align: center;
    max-width: 210px;
    padding: 13px 0;
    border: 2px solid #4489ff;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      background: #4f90fe;
      color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
    &:focus {
      border-color: #e9ff00;
      text-decoration: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      color: #fff;
    }
  }
  &-header {
    padding: 7px 10px;
    &:focus {
      padding: 6px 10px;
    }
    @include mq-down(lg) {
      margin-left: 15px;
    }
  }
  &-transparent {
    @extend [class^='btn'];
    background: transparent;
    color: #fff;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  &-video {
    @extend [class^='btn'];
    color: #fff !important;
    max-width: 235px;
    padding: 0;
    font-size: rem(18);
    font-weight: 500;
    border: none;
    background: transparent;
    margin: 0 auto 60px auto;
    span {
      margin-right: 25px;
      @include mq-down(sm) {
        margin-right: 0;
        order: 2;
        margin-top: 1rem;
      }
    }
    @include mq-down(sm) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__img {
      width: 32px;
      height: 32px;
      display: inline-block;
      border: none;
    }
  }
  &__categories {
    &_landing {
      @extend .btn-xlg;
      display: flex;
      justify-content: center;
      margin: auto auto 50px auto;
      @include mq-down(md) {
        min-width: 280px;
        max-width: 88%;
      }
      img {
        margin-left: 10px;
      }
    }
  }
  &__news {
    &-more {
      @extend .btn-xlg;
      position: absolute;
      top: 150px;
      right: -30px;
      display: flex;
      justify-content: space-between;
      padding-right: 30px;
      padding-left: 45px;
      width: 100%;
      max-width: 126px;
      @include mq-between (lg, xl) {
        right: -10px;
      }
      @include mq-down (lg) {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        img {
          margin-left: 15px;
        }
      }
    }
  }
  &-ok {
    @extend .btn-mid;
    max-width: 130px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #4489ff;
    font-size: rem(19);
    @include mq-down(md) {
      max-width: 90%;
    }
    &:hover {
      background: #4f90fe;
    }
  }
  &-lots {
    margin: 0 auto 22px auto;
    max-width: 160px;
    height: 36px;
    border-radius: 96px;
    border: solid 1px #4489ff;
    font-size: rem(14);
    font-weight: 500;
    color: #4489ff;
    padding-left: 0;
    padding-right: 0;
  }
  &-celebrities {
    &-more {
      @extend .btn-xlg;
      display: flex;
      justify-content: center;
      margin: 50px auto 0;

      @include mq-down(md) {
        max-width: 280px;
        margin-top: 10px;
      }

      img{
        margin-left: 15px;
      }
    }
  }
  &-bookmark {
    padding: 0;
    border: none;
    background: transparent;
  }
  &-edit {
    &-avatar {
      z-index: 2;
      height: 100%;
      width: 100%;
      position: absolute;
      background: transparent;
      padding: 0 0 16px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      border: none;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        z-index: -1;
      }

      @include mq-down(sm) {
        font-size: 0;
        padding-bottom: 0;
      }
    }
    &-ads {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
      margin-right: 6px;
      background-color: #e1e5ee;

      img {
        width: 10px;
      }
      
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
  &-remove {
    &-ads {
      @extend .btn-edit-ads;
    }
  }
  &-account {
    &-sell {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      background-color: #4489ff;
      max-width: 180px;
      margin: 0 auto;
      border-color: #4489ff;

      &:hover {
        background: #4f90fe;
        color: #fff;
      }

      &:focus {
        color: #fff;
      }
    }
  }
  &-sell {
    &-item {
      &-continue {
        @extend .btn-xlg;
      }
    }
  }
  &-createNew {
    @extend .btn-xlg;
    max-width: 240px;
    padding: 10px;
    font-size: rem(14);
    line-height: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
}
