[class^='btn'] {
  display: block;
  border: 1px solid #fff;
  color: #fff;
  width: 100%;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.btn {
  &-sm {}
  &-mid {
    @extend [class^='btn'];
    border-radius: 96px;
    text-align: center;
    max-width: 140px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 10px 30px 9px 30px;

    &:focus {
      border: solid 2px #e9ff00;
      text-decoration: none;
      color: inherit;
      padding-top: 9px;
      padding-bottom: 8px;
    }

    
  }
  &-xlg {
    @extend [class^='btn'];
    background: $accent;
    border-radius: 96px;
    text-align: center;
    max-width: 210px;
    padding: 13px 0;
    border: 2px solid $accent;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      background: #4f90fe;
      color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    &:visited {
      background: #3880fb;
    }

    &:focus {
      border-color: #e9ff00;
      text-decoration: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      color: #fff;
    }

    
  }
  &-header {
    padding: 7px 10px;
    &:focus {
      padding: 6px 10px;
    }
  }
  &-transparent {
    @extend [class^='btn'];
    background: transparent;
    color: #fff;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  &-video {
    @extend [class^='btn'];
    max-width: 235px;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border: none;
    background: transparent;
    margin: 0 auto 60px auto;
    
    span {
      margin-right: 25px;
    }

    &__img {
      width: 32px;
      height: 32px;
      display: inline-block;
      border: none;
    }
  }
  &__categories {
    &_landing {
      @extend .btn-xlg;
      display: flex;
      justify-content: center;
      margin: auto auto 50px auto;
      img {
        margin-left: 10px;
      }
    }
  }
}