header {
  padding: 20px 30px;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  &--transparent {
    background: transparent;
  }
}

.logo {
  &__wrapper {
    margin-right: 28px;
  }
}

.nav {
  &__menu {
    &-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      > [class^='nav-menu'] {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        &[class*='--right']{
          justify-content: flex-end;
        }
      }
    }

    &-item {
      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      margin: 0 15px;

      &:nth-child(1) {
        margin-left: 0;
      }

      &:nth-last-child(1) {
        margin-right: 0;
      }

      &:hover {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

