<header>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar--desktop navbar--transparent">
        <a class="logo__wrapper" href="#">
          <img src="assets/img/logo--white.svg" class="logo__img img-responsive" alt="">
        </a>
        <div class="nav__menu-wrapper">
          <div class="nav-menu--left">
            <a class="nav__menu-item" href="#">Как это работает</a>
            <a class="nav__menu-item" href="#">Фонды</a>
          </div>
          <div class="nav-menu--right">
            <a href="#">
              <img src="assets/img/icon--search.svg" alt="" class="img-responsive">
            </a>
            <a class="nav__menu-item" href="#">Объявления</a>
            <a href="#" class="btn">Продать и помочь</a>
            <a class="nav__menu-item" href="#">Войти</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>