<header>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar--desktop navbar--transparent">
        <a class="logo__wrapper" href="#">
          <img src="assets/img/logo/logo--white.svg" class="logo__img img-responsive" alt="">
        </a>
        <div class="nav__menu-wrapper">
          <div class="nav-menu--left">
            <a class="nav__menu-item" href="#">Как это работает</a>
            <a class="nav__menu-item" href="#">Фонды</a>
            <button class="nav__menu-mobile-trigger hamburger hamburger--arrowturn">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </button>
            <div class="mobile-menu">
              <a class="nav__menu-item" href="#">Как это работает</a>
              <a class="nav__menu-item" href="#">Фонды</a>
              <a class="nav__menu-item" href="#">Объявления</a>
              <a class="nav__menu-item" href="#">Войти</a>
            </div>
          </div>
          <div class="nav-menu--right">
            <a href="#">
              <img src="assets/img/icons/icon--search.svg" alt="" class="img-responsive">
            </a>
            <a class="nav__menu-item" href="#">Объявления</a>
            <a href="#" class="btn btn-mid btn-transparent btn-header">Продать и помочь</a>
            <a class="nav__menu-item" href="#">Войти</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>