<div class="menu-bar">
  <a href="#" class="menu-bar__item is-active">Объявления <span>(2)</span></a>
  <a href="#" class="menu-bar__item">О звезде</a>
  <a href="#" class="menu-bar__item">Благотворительные фонды</a>
</div>