{% if menubar %}
  <div class="menu-bar">
    {% for menuItem in menubar %}
      <a href="{{ menuItem.link }}" class="menu-bar__item {% if menuItem.isActive %}is-active{% endif %}">
        {{ menuItem.descr }} 
        {% if menuItem.isAds %}
          <span>({{ menuItem.adsCount }})</span>
        {% endif %}
      </a>
    {% endfor %}
  </div>
{% endif %}
