.accountInfo {
  background-color: #fafafa;
  padding-bottom: 40px;

  &__container {
    padding: 0 10px;
    @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
    margin: 0 auto;

    @include mq-down(lg) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__wrapper {
    @include make-row();
    flex-wrap: nowrap;

    @include mq-down(lg) {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__content {
    width: 100%;
    height: auto;
    display: none;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 75px;
    justify-content: flex-start;
    align-items: flex-start;

    &.is-active {
      display: flex;
    }

    @include mq-down(lg) {
      margin-top: 30px;
      margin-left: 0;
      justify-content: center;

    }
    @include mq-down(sm) {
      padding: 0 20px;
    }
  }
}