<section class="screen__landing">
  <div class="container">
    <div class="row">
      <div class="safety">
        <img src="assets/img/icon--shield.svg" alt="" class="img-responsive">
        <p class="safety__descr">Надежность <span>Blockchain</span>
        </p>
      </div>
      <div class="col-12 header__wrapper">
        <h1 class="header__h1">Покупка и продажа вещей в помощь людям</h1>
      </div>
      <button class="btn btn--transparent">Посмотреть видео <img src="assets/img/play-button.svg" alt=""></button>
      <div class="w-100"></div>
      <form action="#" class="col-8 offset-2 search-form">
        <input type="text" class="search-form_input" placeholder="Что вас интересует?">
        <button type="submit" class="search-form_submit"><img src="assets/img/icon--search.svg" alt="" class="img-responsive"></button>
      </form>
    </div>
  </div>
</section>