<section class="screen__landing">
  <div class="container">
    <div class="row">
      <div class="safety">
        <img src="assets/img/icon--shield.svg" alt="" class="img-responsive">
        <p class="safety__descr">Надежность <span>Blockchain</span>
        </p>
      </div>
      <div class="col-12 header__wrapper">
        <h1 class="header__h1">Покупка и продажа вещей в помощь людям</h1>
      </div>
      <button class="btn btn--transparent">Посмотреть видео <img src="assets/img/play-button.svg" alt=""></button>
      <form action="#">
        <input type="text" class="input__search-landing">
        <input type="submit" value="">
      </form>
    </div>
  </div>
</section>