.safety {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  &__descr {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    max-width: 173px;
    margin-bottom: 0;
    span {
      text-transform: uppercase;
      letter-spacing: 1.2px;
    }
  }
  &-img {
    width: 12px;
    height: 15px;
    margin-right: 9px;
    position: relative;
    top: 2px;
  }
}

.screen {
  &__landing {
    padding: 40px 0 120px 0;
  }
}

.search-form {
  .inline-inputs {
    @extend .inline-inputs;
    justify-content: center;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
  }
  &_input {
    width: 100%;
    max-width: 780px;
    height: 62px;
    padding: 0 25px;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #ffffff;
    border: none;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    &::placeholder {
      color: #c0d1dd;
    }
  }
  &_submit {
    width: 66px;
    height: 62px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #4489ff;
    border: none;
    &-img {
      margin: 0 auto;
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
}

.landing {
  &__header {
    max-width: 450px;
    margin: 20px auto 45px auto;
    color: #fff;
  }
}
