<section class="accountInfo">
  <div class="accountInfo__container">
    <div class="accountInfo__wrapper">
      {% block accountProfileCard %}
        {% include "../cards/card-account.twig" %}
      {% endblock %}
      {% block accountMenuBar %}
        {% include "../menu-bar/menu-bar.twig" %}
      {% endblock %}
      {% block accountMenuContent %}
        <div class="accountInfo__content is-active" id="ads">
          {% block accountAds %}
            {% include "../cards/cards-ads.twig" %}
          {% endblock %}
        </div>
        <div class="accountInfo__content" id="about">
          {% block accountAbout %}
            {% include "../cards/cards-account-about.twig" %}
          {% endblock %}
        </div>
        <div class="accountInfo__content" id="funds">
          {% block accountFunds %}
            {% include "../cards/cards-account-funds.twig" %}
          {% endblock %}
        </div>
      {% endblock %}
    </div>
  </div>
</section>