.accountInfo {
  background-color: #fafafa;
  padding-bottom: 40px;

  &__wrapper {
    @include make-row();
    flex-wrap: nowrap;

    @include mq-down(lg) {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}