<section class="screen__cart">
  <div class="cart__container">
    <div class="cart__wrapper">
      <div class="header__wrapper header__wrapper-regular">
        <h1 class="header__h1 regular__h1">Корзина</h1>
        <span>3 товара</span>
      </div>
      <main class="cart-items__wrapper">
        aside
      </main>
      <aside class="cart-items__aside">
        asi
      </aside>
    </div>
  </div>
</section>