<section class="accountInfo">
  <div class="container">
    <div class="accountInfo__wrapper">
      {% include "../cards/card-account.twig" %}
      {% include "../menu-bar/menu-bar.twig" %}
    </div>
  </div>
</section>