<section class="accountInfo">
  <div class="accountInfo__container">
    <div class="accountInfo__wrapper">
      {% block accountProfileCard %}
        {% include "../cards/card-account.twig" %}
      {% endblock %}
      {% block accountMenuBar %}
        {% include "../menu-bar/menu-bar.twig" %}
      {% endblock %}
      {% block accountMenuContent %}
        <div class="accountInfo__content">
            {% block accountAds %}
              {% include "../cards/cards-ads.twig" %}
            {% endblock %}
            {% block accountAbout %}
              {% include "../cards/cards-account-about.twig" %}
            {% endblock %}
            {% block accountFunds %}
              {% include "../cards/cards-account-funds.twig" %}
            {% endblock %}
        </div>
      {% endblock %}
    </div>
  </div>
</section>