<section class="screen__landing">
  <div class="container">
    <div class="row">
      <div class="safety">
        <img src="assets/img/icon--shield.svg" alt="" class="safety-img img-responsive">
        <p class="safety__descr">Надежность <span>Blockchain</span>
        </p>
      </div>
      <div class="col-12 header__wrapper landing__header-wrapper">
        <h1 class="header__h1 landing__header">Покупка и продажа вещей в помощь людям</h1>
      </div>
      <button class="btn btn-video"><span>Посмотреть видео</span><img src="assets/img/play-button.svg"
          class="btn-video__img" alt=""></button>
      <div class="w-100"></div>
      <form action="#" class="col-8 offset-2 search-form">
        <div class="inline-inputs">
          <input type="text" class="search-form_input" placeholder="Что вас интересует?">
          <button type="submit" class="search-form_submit">
            <img src="assets/img/icon--search.svg" alt="" class="img-responsive search-form_submit-img">
          </button>
        </div>
      </form>
    </div>
  </div>
</section>