<section class="accountInfo">
  <div class="accountInfo__container">
    <div class="accountInfo__wrapper">
      {% block accountProfileCard %}
        {% include "../cards/card-account.twig" %}
      {% endblock %}
      {% block accountTabs %}
        {% include "../menu-bar/menu-bar.twig" %}
        {% include "../tabs/tabs-account.twig" %}
      {% endblock %}
    </div>
  </div>
</section>