.screen {
  &__marketplace {
    background-color: #fafafa;
  }
}

.marketplace {
  &__container {
    padding: 35px 0 60px;
    @include make-container();
    @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);

    @include mq-up(xl) {
      max-width: 1200px;
    }

    @include mq-down(sm) {
      padding-bottom: 0;
    }
  }

  &__wrapper {
    @include make-row();

    @include mq-down(sm) {
      padding: 0 20px;
    }
  }

  &__controls {
    @include make-col(12);
    display: flex;
    justify-content: space-between;
    margin: 30px 0 15px;
    position: relative;

    @include mq-down(lg) {
      align-items: flex-end;
      flex-wrap: wrap;
      margin-top: 15px;
    }
  }

  &__tag {

    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include mq-down(lg) {
        display: none;
      }
    }

    &-mobile {
      appearance: none;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 4px;
      background-color: #eeeef3;
      border: none;
      padding: 4px 15px;

      &-wrapper {
        @include make-col(12);
        position: relative;

        @include mq-up(lg) {
          display: none;
        }
      }

      &-chevron {
        position: absolute;
        right: 15px;
        top: 13px;
      }
    }
  }

  &__filter {
    &-outer {
      height: auto;
      width: 230px;
      margin-right: 10px;

      @include mq-down(lg) {
        display: none;
      }
    }
  }

  &__content {
    &-outer {
      width: 100%;
      max-width: 950px;
      margin-left: 10px;

      @include mq-between(lg, xl) {
        max-width: 710px;
      }

      @include mq-down(lg) {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }
}