<section class="screen__item">
  <div class="screen__item-container">
    <div class="screen__item-wrapper">
      {% if breadcrumbs %}
      {% include "../breadcrumbs/breadcrumbs.twig" %}
      {% endif %}
    </div>
  </div>
  {% include "../lot/lot--mobile.twig" %}
</section>