<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->
	{% set page_title = "1p1.io" %}
	<title>{{ page_title }}</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="#">
	<link rel="apple-touch-icon" sizes="180x180" href="#">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#4489ff">
	<!-- Custom Browsers Color End -->
</head>

<body>
	<main>
		{% include "./templates/components/header/header.twig" %}
		{% include "./templates/components/screen/screen__landing.twig" %}
		{% include "./templates/components/slider/slider-bg.twig" %}
	</main>
	<div class="numeric-info">
		<div class="container">
			<div class="row justify-content-center">
				<div class="numeric-info__item">
					<div class="numeric-info__item-header">
						<img src="/assets/img/icon-chevron-right-blue.svg" alt="" class="img-responsive numeric-info__item-img">
						<p class="numeric-info__item-number">150</p>
					</div>
					<p class="numeric-info__item-descr">Товаров доступно</p>
				</div>
				<div class="numeric-info__item">
					<div class="numeric-info__item-header">
						<img src="/assets/img/icon-chevron-right-blue.svg" alt="" class="img-responsive numeric-info__item-img">
						<p class="numeric-info__item-number">39</p>
						<img src="/assets/img/icon-heart.svg" alt="" class="img-responsive">
					</div>
					<p class="numeric-info__item-descr">Программ различных фондов</p>
				</div>
				<div class="numeric-info__item">
					<div class="numeric-info__item-header">
						<img src="/assets/img/icon-chevron-right-blue.svg" alt="" class="img-responsive numeric-info__item-img">
						<p class="numeric-info__item-number">20</p>
					</div>
					<p class="numeric-info__item-descr">Фондов присоединились</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>