// core
@import "utils/vars";
@import "utils/libs";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/typography";
// components
@import "../templates/components/buttons/buttons";
@import "../templates/components/slider/slider-bg";
@import "../templates/components/slider/slider-reviews-landing";
@import "../templates/components/slider/slider-partners";
@import "../templates/components/header/header";
@import "../templates/components/mobile-menu/mobile-menu";
@import "../templates/components/screen/screen__landing";
@import "../templates/components/bullets/bullets-numeric";
@import "../templates/components/categories/categories-landing";
@import "../templates/components/news/news-landing";
@import "../templates/components/blockchain/blockchain";
@import "../templates/components/footer/footer";
@import "../templates/components/popup/popup";
@import "../templates/components/form/form-search-landing";
@import "../templates/components/form/form-search-header";
@import "../templates/components/form/form-login-mobile";
@import "../templates/components/form/form-registration-mobile";
@import "../templates/components/form/form-popup";
@import "../templates/components/form/form-footer";
@import "../templates/components/video/video-landing";
@import "../templates/components/dropdown/dropdown";
@import "../templates/components/dropdown/dropdown-account-header";
@import "../templates/components/cards/cards-celebrities";
@import "../templates/components/cards/cards-celebrities-lots-landing";
@import "../templates/components/banner/banner";
@import "../templates/components/screen/screen__accountInfo";
@import "../templates/components/cards/card-account";
@import "../templates/components/menu-bar/manu-bar";
@import "../templates/components/cards/cards-ads";
@import "../templates/components/bookmark/bookmark-error";
@import "../templates/components/cards/cards-account-about";
@import "../templates/components/cards/cards-account-funds";
@import "../templates/components/form/form-button-color";
@import "../templates/components/popup/popup-edit";
//@import "../templates/components/fineuploader/fineuploader-converted";
@import "../templates/components/fineuploader/fineuploader-custom";
@import "../templates/components/tooltip/tooltip-form-popup.scss";
@import "../templates/components/filter/filter.scss";
@import "../templates/components/form/form-sell-item-mobile.scss";
@import "../templates/components/screen/screen__mraketplace.scss";
@import "../templates/components/form/form__marketplace-search.scss";
@import "../templates/components/cards/cards-marketplace.scss";
@import "../templates/components/pagination/pagination.scss";
@import "../templates/components/screen/screen__cart.scss";
@import "../templates/components/cards/cards-cart.scss";
@import "../templates/components/form/form-cart-checkout.scss";
@import "../templates/components/form/form-cart-delivery.scss";
@import "../templates/components/dropdown/dropdown-cart.scss";
@import "../templates/components/cards/cards-cart--dropdown.scss";
@import "../templates/components/form/form-cart-payment.scss";
@import "../templates/components/breadcrumbs/breadcrumbs.scss";
@import "../templates/components/screen/screen__cart--mobile.scss";
@import "../templates/components/screen/screen__account-edit--mobile.scss";
@import "../templates/components/dropdown/dropdown-catalogue-header.scss";
@import "../templates/components/mobile-menu/mobile-menu--catalogue.scss";
@import "../templates/components/screen/screen__item.scss";
@import "../templates/components/lot/lot.scss";


// comon
::placeholder {
  color: #666
}

::selection {
  background-color: $accent;
  color: #fff;
}

button,
.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

body {
  font-size: $mainFontSize;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font, sans-serif;
  overflow-x: hidden;
  color: $text;

  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    // &:focus:required:invalid {
    //   border-color: red
    // }
    // &:required:valid {
    //   border-color: green
    // }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;

  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

b,
strong {
  font-weight: bold;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.visible {
  visibility: visible !important;
}

main {
  position: relative;
}

.inline-inputs {
  position: relative;
  display: flex;
  flex-direction: row;
}

.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.--scrollbar-hidden {
  padding-right: 17px;

  >header {
    padding-right: 47px;
  }
}

// .no-padding {
//   padding: 0;
// }
.--solo-mobile {
  @include mq-down(sm) {
    flex: 1 0 100% !important;
  }
}