<div class="slider-bg__container">
    <div class="swiper-wrapper">
        <div class="swiper-slide slider-bg__slide">
          <img class="slider-bg__slide_img" src="./assets/img/main-image.jpg" alt="">
        </div>
        <div class="swiper-slide slider-bg__slide">
          <img class="slider-bg__slide_img" src="./assets/img/main-image-2.jpg" alt="">
        </div>
        <div class="swiper-slide slider-bg__slide">
          <img class="slider-bg__slide_img" src="./assets/img/main-image-3.jpg" alt="">
        </div>
    </div>
</div>