{% if reviews_slider %}
<section class="slider-reviews-landing">
  <div class="container">
    <div class="row">
      <div class="slider-reviews-landing__container">
        <div class="swiper-wrapper slider-reviews-landing__wrapper">
          {% for review in reviews_slider %}
          <div class="swiper-slide slider-reviews-landing__slide">
            <div class="slider-reviews-landing__item">
              <div class="review-author__wrapper">
                <div class="review-author__avatar">
                  <img src="{{ review.authorAvatar }}" alt="" class="img-responsive review-author__avatar-img">
                </div>
                <div class="review-author__info">
                  <h4 class="review-author__name">{{ review.authorName }}</h4>
                  <p class="review-author__role">{{ review.authorRole }}</p>
                </div>
              </div>
              <div class="review__descr-wrapper">
                <p class="review__descr">{{ review.authorReview }}</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
        <div class="review__dots"></div>
      </div>
    </div>
  </div>
</section>
{% endif %}