<section class="slider-reviews-landing">
  <div class="container">
    <div class="row">
      <div class="slider-reviews-landing__container">
        <div class="swiper-wrapper slider-reviews-landing__wrapper">
          {% for i in 0..4 %}
          <div class="swiper-slide slider-reviews-landing__slide">
            <div class="slider-reviews-landing__item">
              <div class="review-author__wrapper">
                <div class="review-author__avatar">
                  <img src="/assets/img/background/main-image.jpg" alt="" class="img-responsive review-author__avatar-img">
                </div>
                <div class="review-author__info">
                  <h4 class="review-author__name">Чулпан Хаматова</h4>
                  <p class="review-author__role">Акстриса</p>
                </div>
              </div>
              <div class="review__descr-wrapper">
                <p class="review__descr">Спасибо всем, кто помогает нашим детям! Деньги на <br>
                  их лечение собраны, и все необходимое оплачено или <br>
                  куплено. Без Вашей поддержки мы не смогли бы <br>
                  оплатить поиск и активацию донора костного мозга, <br>
                  лечение за рубежом, покупку дорогих лекарств<br> 
                  и операций. Спасибо!</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
        <div class="review__dots"></div>
      </div>
    </div>
  </div>
</section>