<div class="slider__partners">
  <div class="container">
    <div class="row">
      <div class="slider__partners-container">
        <div class="swiper-wrapper slider__partners-wrapper">
          <div class="swiper-slide slider__partners-slide">
            <img src="/assets/img/partners/logo-agenstvo-strategicheskih-iniciativ.png" alt="" class="img-responsive slider__partners-img">
          </div>
          <div class="swiper-slide slider__partners-slide">
            <img src="/assets/img/partners/logo-yandex-dengi.png" alt="" class="img-responsive slider__partners-img">
          </div>
          <div class="swiper-slide slider__partners-slide">
            <img src="/assets/img/partners/logo-doroga-vmeste.png" alt="" class="img-responsive slider__partners-img">
          </div>
          <div class="swiper-slide slider__partners-slide">
            <img src="/assets/img/partners/logo-advita.png" alt="" class="img-responsive slider__partners-img">
          </div>
          <div class="swiper-slide slider__partners-slide">
            <img src="/assets/img/partners/logo-koshelek.png" alt="" class="img-responsive slider__partners-img">
          </div>
          <div class="swiper-slide slider__partners-slide">
            <img src="/assets/img/partners/logo-orbi.png" alt="" class="img-responsive slider__partners-img">
          </div>
          <div class="swiper-slide slider__partners-slide">
            <img src="/assets/img/partners/logo-nika.png" alt="" class="img-responsive slider__partners-img">
          </div>
          <div class="swiper-slide slider__partners-slide">
            <img src="/assets/img/partners/logo-zhivoi.png" alt="" class="img-responsive slider__partners-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>