.card {
  &-bookmarks {
    &__slider {

      &-container {
        position: relative;
      }

      &-wrapper {
        display: flex;
        width: 220px;
        height: 234px;

        @include mq-down(sm) {
          width: 280px;
        }
      }

      &-navigation {
        position: absolute;
        left: 20px;
        bottom: 20px;
        display: flex;

        @include mq-down(sm) {
          width: calc(100% - 20px);
          left: 10px;
          right: 10px;
          top: 50%;
          bottom: unset;
          justify-content: space-between;
        }
      }

      &-button {

        &-prev,
        &-next {
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;

          img {
            width: 20px;
            height: 20px;
          }

          &.--disabled {
            opacity: .5;
            pointer-events: none;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    &-img {
      width: 220px;
      height: 100%;
      object-fit: cover;

      @include mq-down(sm) {
        width: 280px;
      }
    }
  }
}