{% if backgorunds_slider %}
<div class="slider-bg__container">
    <div class="swiper-wrapper">
        {% for background in backgorunds_slider %}
        <div class="swiper-slide slider-bg__slide">
          <img class="slider-bg__slide_img" src="{{ background }}" alt="">
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}