.slider {
  &-bg {
    &__container {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      overflow: hidden;
    }
    &__slide {
      &_img {
        display: block;
        width: 100%;
        object-fit: cover;

        @include mq-down(xl) {
          height: 100%;
        }
      }
    }
  }
}