<div class="lot__safe-deal">
  <img alt="" src="/assets/img/icons/icon-shield-color.svg">
  <a class="form-cart-checkout__addInfo-link tooltip-trigger" href="#">Безопасная сделка</a>
  <div class="lot__safe-tooltip tooltip">
    <p class="lot__safe-tooltip-descr">
      Мы работаем по безопасной сделке. Деньги с вашей карты спишутся, но будут отправлены продавцу только после того,
      как
      вы подтвердите получение товара. В любой момент вы можете отменить бронирование и вернуть на карту всю сумму.
    </p>
  </div>
</div>